
    <div vs-repeat>
        <dl class="dl-horizontal model-property-simple" ng-animate="'animate'"
            ng-repeat="keyValueProperty in model.key_value_properties | orderBy:'name' track by $index">
            <dt class="model-property-simple" ng-if="keyValueProperty.comment">
                <a href="">{{keyValueProperty.name }}<md-tooltip>{{ keyValueProperty.comment }}</md-tooltip></a>
            </dt>
            <dt ng-if="!keyValueProperty.comment">{{ keyValueProperty.name }}</dt>
        </dl>
    </div>
    <br />
    <h3 ng-show="model.iterable_properties.length > 0">Proprietes multiples :</h3>
    <dl class="dl-horizontal model-property-iterable" ng-animate="'animate'"
        ng-repeat="iterableProperty in model.iterable_properties | orderBy:'name' track by $index">
        <dt>{{ iterableProperty.name }}</dt>
        <dd ng-repeat="field in iterableProperty.fields | orderBy:'name' track by $index">
            <a href="" ng-if="field.comment">{{ field.name }}<md-tooltip>{{ field.comment }}</md-tooltip></a>
            <span ng-if="!field.comment">{{ field.name }}</span>
        </dd>
    </dl>
