/*
 * Header
 */
 
#header  input:focus{
	outline-width: 0;
}


/*
 * CodeMirror
 */ 

.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}

.CodeMirror pre.CodeMirror-cursor {
  z-index: 200000;
}


/* Buttons */

.btn-red:hover {
	color: #E00000;
	margin-left: -5px;
	margin-right: -4px;
	margin-top: -4px;
	margin-bottom: -4px;
	
}

.btn-red {
	color: #780000;
}

.btn-red:hover span {
	font-size: 1.6em;
}

.btn-no-padding {
	padding: 0 !important;
}

.btn-resize {
	background-color: #F0F0F0;
}

.btn-resize:hover {
	background-color: #B8B8B8;
}

/* Forms */
.form-horizontal.narrow  input[type=text] {
	padding-top: 2px;
	padding-bottom: 2px;
	height: 30px;
}

.form-horizontal.narrow label {
	padding-top: 3px;
}

.form-horizontal.narrow  div {
	margin-bottom: 2px;
}

.form-group.property-not-used {
	color: #888888;
}

.form-group.property-not-used label{
	text-decoration: line-through;
}

.form-group.property-not-used input[type=text]{
	background-color: #F0F0F0;
}

/* Layout */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.text-stroke{
	text-decoration: line-through !important;
}

h4.app-unit {
	height: 31px;
}

h4.app-unit form {
	margin-top: -10px;
	padding-left: 10px;
}

h4.app-unit a {
	margin-left: 10px;
}

h4.app-unit input {
	height: 31px;
}

h4.app-unit button {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 0;
}

.bg-light {
	background-color: #F8F8F8;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
}

.animate {
    animation-name: rotateThis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation: rotateThis 1s infinite linear;    
    -webkit-animation: rotateThis 1s infinite linear;    
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 359deg ); }
}

@-webkit-keyframes rotateThis {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.input-sm {
    height: 31px;
}

.box li {
    vertical-align: top;
}

.box .jumbotron {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.23), -1px 1px 4px rgba(0, 0, 0, 0.16);
}

.box .jumbotron div#header {
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: -5px;
    margin-right: -5px;
    min-width: 250px;
}

.box .jumbotron .instance div#header {
    background-color: #FFFFFF;
    background-image: none;
    font-size: 12px;
}

/* CodeMirror Mode */
.cm-hesperides {color: #cc051e;}
.cm-hesperides-token {color: #a100cc;}

/* Divers Bootstrap */
.md-btn-xs {
    width: 40px !important;
    height: 40px !important;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    /*justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}
