/*
 * Header
 */
 
#header  input:focus{
	outline-width: 0;
}


/*
 * Search
 */

 #search-inputs {
	width: 100%;
 }
 
 #search-inputs input{
	width: 100%;
 }
 
#search-left {
	float: left;
	width: 50%;
	text-align: left;
}

#search-right {
	float: right;
	width: 40%;
} 

#search-results {
	text-align: left;
	padding-left: 30px;
	padding-top: 95px;
	width: 100%;
}

/* 
 * CodeMirror
 */ 

.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}

.CodeMirror pre.CodeMirror-cursor {
  z-index: 200000;
}

/* Buttons */

.btn-red:hover {
	color: #E00000;
	margin-left: -5px;
	margin-right: -4px;
	margin-top: -4px;
	margin-bottom: -4px;
	
}

.btn-red {
	color: #780000;
}

.btn-red:hover span {
	font-size: 1.6em;
}

.btn-no-padding {
	padding: 0 !important;
}

.btn-resize {
	background-color: #F0F0F0;
}

.btn-resize:hover {
	background-color: #B8B8B8;
}

/* Forms */
.form-horizontal.narrow  input[type=text] {
	padding-top: 2px;
	padding-bottom: 2px;
	height: 30px;
}

.form-horizontal.narrow label {
	padding-top: 3px;
}

.form-horizontal.narrow  div {
	margin-bottom: 2px;
}

.form-group.property-not-used {
	color: #888888;
}

.form-group.property-not-used label{
	text-decoration: line-through;
}

.form-group.property-not-used input[type=text]{
	background-color: #F0F0F0;
}

/* Layout */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.text-stroke{
	text-decoration: line-through !important;
}
