@font-face {
	    font-family: 'AvenirBook';
	    src: url('../fonts/avenirltstd-roman-webfont.eot');
	    src: url('../fonts/avenirltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/avenirltstd-roman-webfont.woff') format('woff'),
	         url('../fonts/avenirltstd-roman-webfont.ttf') format('truetype'),
	         url('../fonts/avenirltstd-roman-webfont.svg') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

body {
     font-size: 0.813em;
     font-family: AvenirBook,Arial,sans-serif;
}

input,
button,
select,
textarea,
.md-button{
     font-family: inherit;
     font-size: inherit;
}

/*
 * Header
 */
#header  input:focus{
	outline-width: 0;
}


/*
 * CodeMirror
 */
.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}

.CodeMirror pre.CodeMirror-cursor {
  z-index: 200000;
}

.property-using-global {
    color: #009587;
}
.text-stroke {
	text-decoration: line-through !important;
}

.bg-light {
	background-color: #F8F8F8;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
}

.animate {
    animation-name: rotateThis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation: rotateThis 1s infinite linear;    
    -webkit-animation: rotateThis 1s infinite linear;    
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 359deg ); }
}

@-webkit-keyframes rotateThis {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.box li {
    vertical-align: top;
}

.list-inline {
    list-style-type: none;
}

.box .jumbotron {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.23), -1px 1px 4px rgba(0, 0, 0, 0.16);
}

.box .jumbotron div#header {
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: -5px;
    margin-right: -5px;
    min-width: 250px;
}

.box .jumbotron .instance div#header {
    background-color: #FFFFFF;
    background-image: none;
    font-size: 12px;
}

/* CodeMirror Mode */
.cm-hesperides {color: #cc051e;}
.cm-hesperides-token {color: #a100cc;}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    /*justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}


/******************************************************************************
 * Diff page
 */
/* Area to display all diff properties with scroll */
.diff-area {
    max-height: 400px;
    white-space: normal;
    overflow: auto;
}

/* Column repeat for each property */
.diff-row-property {
    width: 95%;
}

/* I don't really know if necessary */
.diff-property {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

/* Property name */
.diff-property-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Property name, value, checkbox... */
.diff-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Class for checkbox */
.diff-checkbox {
    margin-top:0px;
}

.diff-text-modifiable {
    color: rgb(4, 158, 96);
}

.diff-text-unmodifiable {
    color: rgb(158, 4, 4);
}

.diff-text-old {
    color: #9C27B0;
}

/* Warning text in button */
.diff-warning-text-button {
    font-weight: bold;
    text-decoration: underline
}

/* Header of row property */
.diff-header-row-property {
    margin-bottom: 0;
    margin-top: 0
}

/* Align text next to toogle switch */
.diff-toggle-text {
    vertical-align: text-bottom;
}

/* Old text for identical property */
.diff-identical-old {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
    text-decoration: line-through;
    text-align: right;
}

/* Modify text for identical property */
.diff-identical-modify {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.diff-title {
    padding-left: 10px;
}

md-checkbox.diff {
    margin: 0 0 4px 0 !important;
}

.diff-line {
    min-height: 20px;
    padding-bottom: 4px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb > .active {
    color: #999;
}

/******************************************************************************
 * Modal form
 */
.ng-binding > h2 {
    margin-left: 10px;
}

/******************************************************************************
 * Menu
 */
.menu {
    background-color: #009587;
    color: white;
}

.menu-item {
    color: black;
}

.menu-header {
    font-size: 14px;
    font-family: AvenirBook,Arial,sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    height: 40px;
}

.menu-title {
    color: #004032;
    font-size: 14px;
    margin: 0;
    text-align: center;
}


.menu-search-input {
    border: none;
    background:transparent;
    font-size: 14px;
}

.menu-properties-search-input {
    width: 420px !important;
}

.menu-help {
    float: right;
}

#fakeButtonSearchTechno {
    display:none;
}

#fakeButtonSearchModule {
    display:none;
}

#fakeButtonSearchProperties {
    display:none;
}

/******************************************************************************
 * Template
 */
.template-list {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.tempalte-list-item {
    margin-bottom: 0px;
    margin-top:0;
    white-space: nowrap;
}

.template-list-item-name {
    font-size: 12px;
    margin-left: 5px;
}

.template-section-header {
    font-weight: bold;
}


.template-file-right {
    display: inline;
    margin-left: 10px;
    margin-right: 0px;
}

.template-right legend {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    width: auto;
    font-weight: bold;
    font-size: 13px;
    margin:0px;
    margin-left: 4px;
    margin-right: 2px;
}

.template-right fieldset.standard {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0px;
    padding-right: 0.75em;
    border: 1px solid #DDDDDD;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

/******************************************************************************
 * Model
 */
.model-property-simple {
    width: 100%;
    text-align: left;
    margin-bottom:0;
    margin-top:0;
}

.model-property-iterable {
    margin-bottom:0;
    margin-top:0;
}

/******************************************************************************
 * Shared
 */
.shared-list-inline {
    padding-left: 20px;
}
.shared-list-inline li {
    list-style-type: none;
    display: inline;
}

/******************************************************************************
 * Material Design Button color
 */
.md-info {
    background-color: #5bc0de !important;
}

.md-success {
    background-color: #5cb85c !important;
}

.md-clear {
    background-color: transparent !important;
}

.md-xs {
    min-width: 20px !important;
    min-height: 20px !important;
}

.md-xxs {
    min-width: 20px !important;
    min-height: 20px !important;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.md-strike {
    text-decoration: line-through !important;
}

.md-instance {
    margin: 0px !important;
}

button.md-warn  {
    color: red !important;
}

a.md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, a.md-button.md-warn.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, a.md-button.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-warn.md-fab:not([disabled]):hover {
    color: white !important;
}

a.md-button.md-default-theme.md-warn.md-raised:not([disabled]), a.md-button.md-warn.md-raised:not([disabled]), a.md-button.md-default-theme.md-warn.md-fab:not([disabled]), a.md-button.md-warn.md-fab:not([disabled]), .md-button.md-default-theme.md-warn.md-raised:not([disabled]), .md-button.md-warn.md-raised:not([disabled]), .md-button.md-default-theme.md-warn.md-fab:not([disabled]), .md-button.md-warn.md-fab:not([disabled]) {
    color: white !important;
}

a.module-link, a.module-link:hover {
    color: #428bca !important;
    text-decoration: none !important;
}

/******************************************************************************
 * Material Design input label
 */
.md-input-has-placeholder label {
    -webkit-transform: translate3d(0, 6px, 0) scale(1) !important;
    transform: translate3d(0, 6px, 0) scale(1) !important;
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color: rgba(0,0,0,0.6) !important;
    font-size: 14px !important;
}

/******************************************************************************
 * Material Design menu
 */
md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
    outline: none;
    background: #007C6E;
}

/******************************************************************************
 * Confirm button
 */
button.md-primary.md-button.ng-scope.md-confirm-hesperides-dialog-theme.md-ink-ripple {
    color: rgb(255,255,255) !important;
    background-color: rgb(255,87,34) !important;
}

button.md-primary.md-button.md-confirm-hesperides-dialog-theme.md-ink-ripple {
    color: rgb(255,255,255) !important;
    background-color: rgb(0,150,136) !important;
}

/******************************************************************************
 * Module
 */
.module-file {
    text-overflow:ellipsis;
    overflow: hidden;
}

.module-file blockquote {
    font-size: 14px;
}

/******************************************************************************
 * Module
 */
.techno-file {
    text-overflow:ellipsis;
    overflow: hidden;
}

.techno-file blockquote {
    font-size: 14px;
}

/******************************************************************************
 * Platform/Properties
 */
.properties-poduction {
    margin-top: 0px;
}

.properties-add-logical-group {
    color: black !important;
    background-color: white !important;
}

.property-required {
    color: red;
}

.property-global {
    font-style: italic;
    border: none !important;
    padding-bottom: 2px!important;
}

.property-required {
    color:red
}

.property-label {
    text-align: right;
    font-weight: bold;
    border: 0px !important;
    width: 100%;
}

.property-value {
    margin-left: 3%;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: thin;
    border-bottom-color: rgb(0,150,136);
    background-color: #F8F8F8;
    width: 90%;
}

.property-value:focus {
    background-color: rgb(0,150,136);;
    color: white;
    font-weight: bold;
}

.properties-container{
    margin-top: -3%;
    height: 500px;
}

.property-instance {
    display: inline;
    display:inline-block;
}

.instance-delete-button-hide {
    visibility: hidden;
}

.property-tree-logic-bloc {
    height: 40px;
    min-height: 40px;
}

.property-tree-logic-bloc-subbloc {
    padding-left: 20px;
}

.property-tree-module {
    height: 40px;
    min-height: 40px;
    padding-left: 20px;
}

.property-tree-sign {
    margin-right:15px;
    cursor:pointer;
    font-size: 25px;
}

.property-tree-techno {
    padding-left: 20px;
    display: inline-block;
    height: 40px;
    min-height: 40px;
}

.property-box-module-name {
    white-space: nowrap;
}

/* Change default values fore color*/
input.default-value-color::-moz-placeholder{color: #428BCA;}
input.default-value-color::-webkit-input-placeholder{color: #428BCA;}
input.default-value-color:-ms-input-placeholder{color: #428BCA;}
input.default-value-color:placeholder-shown{color: #428BCA;}

/* Change default values focused fore color*/
input.default-value-color-focus::-moz-placeholder{color: #FFFFFF;}
input.default-value-color-focus::-webkit-input-placeholder{color: #FFFFFF;}
input.default-value-color-focus:-ms-input-placeholder{color: #FFFFFF;}
input.default-value-color-focus:placeholder-shown{color: #FFFFFF;}

/******************************************************************************
 * Popover
 * From : http://codepen.io/derekpcollins/pen/JCLhG
 */
.popover {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    visibility: hidden;
    font-size: 12px;
    font-family: AvenirBook,Arial,sans-serif;
    padding: 7px 10px;
    position: absolute;
    z-index: 4;
}

.popover:before {
    border-top: 7px solid rgba(0, 0, 0, 0.85);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
}

.popover-hover {
    visibility: visible;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}
@-moz-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}
@-ms-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}


@-webkit-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
@-moz-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
@-ms-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}

/******************************************************************************
 * File.
 */
.file-header {
    background-color: #DDDDDD;
    min-width: 100%;
    white-space: nowrap;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.file-header .md-button {
    margin-top:0;
    margin-bottom: 0;
}

.file-title {
    width: 93.7%;
    text-align: left;
    text-transform: none;
}

.file-content {
    width: 100%;
    padding: 1px 1px 1px 1px;
}

/******************************************************************************
 * Loading screen.
 */
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 50px;
    height: 50px;
    display: none;
}

/**
 * Styling the events list.
 *
 */

/* Center events div */
.events {
 margin-left: auto;
 margin-right: auto;

 max-height: 570px;
 overflow: auto;
 width: 90%;
}

/* Event item style*/
.event > * > p {
    font-size : 16px;
    border-bottom-style: solid;
    border-width: 1px;
}

.event > * > p > span.event-user{
    font-weight : bold;
    font-style : italic;
}

.event > * > p > event-time > span.event-date{
    font-size : 80%;
    font-style : italic;
    font-weight : bold;
}

.no-events {
    font-size: x-large;
    color: darkgray;
    font-weight: normal;
    text-align: center;
}
/*Hesperides Time Style*/
.angularjs-datetime-picker {
    z-index: 999;
    position:fixed !important;
}

/*Properties list*/
.md-virtual-repeat-container {
    background-color: #F8F8F8;
}

.modal-md-virtual-repeat-container {
    height: 250px !important;
    background-color:#FFFFFF !important;
}

/*Global properties list*/
.global-properties-container,global-properties-line {
    width:100%;
}

.global-properties-action {
    width:10%;
}

.global-properties-label {
    width:30%;
    text-align: right;
}

.global-properties-value {
    width:60%;
}

/* Code mirror line number style*/
.CodeMirror-sizer {
    margin-left: 30px !important;
}
.CodeMirror-linenumbers {
    width: 30px !important;
}
.CodeMirror-linenumber {
    padding: 0 !important;
    text-align: center !important;
}

.tri-switch {
    margin-top: 10px !important;
}

/* force height for md-mini */
.md-mini {
    height: 40px !important;
}

.filter-platform {
    height: 5px !important;
    font-size: 12px !important;
    margin-top:0% !important;
    margin-left:2% !important;
}

.diff-platform-tag {
    height: 5px !important;
    margin-top: 0px !important;
    margin-botton: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 0px !important;
    padding-botton: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 80px !important;
}

/*Responsive text truncation*/
.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diff-divider {
    padding-bottom: 15px;
}

#title {
    text-decoration: initial;
    color: #FFFFFF;
}