body {
    font-size: 12px;
}
/*
 * Header
 */
#header  input:focus{
	outline-width: 0;
}


/*
 * CodeMirror
 */
.CodeMirror {
  border: 1px solid #ddd;
  height: auto;
}

.CodeMirror pre.CodeMirror-cursor {
  z-index: 200000;
}

.property-using-global {
    color: #009587;
}

.text-stroke{
	text-decoration: line-through !important;
}

.bg-light {
	background-color: #F8F8F8;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 10px;
	margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
}

.animate {
    animation-name: rotateThis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation: rotateThis 1s infinite linear;    
    -webkit-animation: rotateThis 1s infinite linear;    
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 359deg ); }
}

@-webkit-keyframes rotateThis {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.box li {
    vertical-align: top;
}

.list-inline {
    list-style-type: none;
}

.box .jumbotron {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.23), -1px 1px 4px rgba(0, 0, 0, 0.16);
}

.box .jumbotron div#header {
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: -5px;
    margin-right: -5px;
    min-width: 250px;
}

.box .jumbotron .instance div#header {
    background-color: #FFFFFF;
    background-image: none;
    font-size: 12px;
}

/* CodeMirror Mode */
.cm-hesperides {color: #cc051e;}
.cm-hesperides-token {color: #a100cc;}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    /*justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}


/******************************************************************************
 * Diff page
 */
/* Area to display all diff properties with scroll */
.diff-area {
    max-height: 400px;
    white-space: normal;
    overflow: auto;
}

/* Column repeat for each property */
.diff-row-property {
    width: 95%;
}

/* I don't really know if necessary */
.diff-property {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

/* Property name */
.diff-property-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Property name, value, checkbox... */
.diff-value {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Class for checkbox */
.diff-checkbox {
    margin-top:0px;
}

.diff-text-modifiable {
    color: rgb(4, 158, 96);
}

.diff-text-unmodifiable {
    color: rgb(158, 4, 4);
}

.diff-text-old {
    color: #9C27B0;
}

/* Warning text in button */
.diff-warning-text-button {
    font-weight: bold;
    text-decoration: underline
}

/* Header of row property */
.diff-header-row-property {
    margin-bottom: 0;
    margin-top: 0
}

/* Align text next to toogle switch */
.diff-toggle-text {
    vertical-align: text-bottom;
}

/* Old text for identical property */
.diff-identical-old {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
    text-decoration: line-through;
    text-align: right;
}

/* Modify text for identical property */
.diff-identical-modify {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.diff-title {
    padding-left: 10px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb > .active {
    color: #999;
}

/******************************************************************************
 * Modal form
 */
.ng-binding > h2 {
    margin-left: 10px;
}

/******************************************************************************
 * Menu
 */
.menu {
    background-color: #009587;
    color: white;
}

.menu-item {
    color: black;
}

.menu-header {
    font-size: 14px;
}

.menu-search-input {
    border: none;
    background:transparent;
    font-size: 14px;
}

.menu-properties-search-input {
    width: 420px !important;
}

.menu-help {
    float: right;
}

#fakeButtonSearchTechno {
    display:none;
}

#fakeButtonSearchModule {
    display:none;
}

#fakeButtonSearchProperties {
    display:none;
}

/******************************************************************************
 * Template
 */
.tempalte-list-item {
    margin-bottom: 0px;
    margin-top:0;
    white-space: nowrap;
}

.template-list-item-name {
    font-size: 12px;
    margin-left: 5px;
}

.template-section-header {
    font-weight: bold;
}


.template-file-right {
    display: inline;
    margin-left: 10px;
    margin-right: 0px;
}

.template-right legend {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    width: auto;
    font-weight: bold;
    font-size: 13px;
    margin:0px;
    margin-left: 4px;
    margin-right: 2px;
}

.template-right fieldset.standard {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0px;
    padding-right: 0.75em;
    border: 1px solid #DDDDDD;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

/******************************************************************************
 * Model
 */
.model-property-simple {
    width: 100%;
    text-align: left;
    margin-bottom:0;
    margin-top:0;
}

.model-property-iterable {
    margin-bottom:0;
    margin-top:0;
}

/******************************************************************************
 * Shared
 */
.shared-list-inline {
    padding-left: 20px;
}
.shared-list-inline li {
    list-style-type: none;
    display: inline;
}

/******************************************************************************
 * Material Design Button color
 */
.md-info {
    background-color: #5bc0de !important;
}

.md-success {
    background-color: #5cb85c !important;
}

.md-clear {
    background-color: transparent !important;
}

/******************************************************************************
 * Module
 */
.module-file {
    text-overflow:ellipsis;
    overflow: hidden;
}

.module-file blockquote {
    font-size: 14px;
}

/******************************************************************************
 * Module
 */
.techno-file {
    text-overflow:ellipsis;
    overflow: hidden;
}

.techno-file blockquote {
    font-size: 14px;
}

/******************************************************************************
 * Platform/Properties
 */
.properties-poduction {
    margin-top: 0px;
}

.properties-add-logical-group {
    color: black !important;
    background-color: white !important;
}

.property-required {
    color: red;
}

.property-global {
    font-weight: bold;
    text-align: right;
}

.property-required {
    color:red
}

.property-label {
    text-align: right;
    font-weight: bold;
    width: 100%;
}