<md-dialog flex="50">
    <md-dialog-content>
        <div class="ng-binding">
            <h2>Historique de {{title}}</h2>
            <md-content layout-padding class="autoScroll">
                <div ng-show="!(eventEntries) || eventEntries.length == 0">
                    <h2 class="no-events"> Aucun historique à afficher </h2>
                </div>
                <md-virtual-repeat-container ng-show="eventEntries && eventEntries.length > 0" class="events" style="height: 500px;">
                    <div ng-repeat="event in eventEntries" >
                        <div ng-switch="event._type" class="event">

                            <!-- Platforms -->
                            <platform-created ng-switch-when="PlatformCreatedEvent" event="event"></platform-created>
                            <platform-updated ng-switch-when="PlatformUpdatedEvent" event="event"></platform-updated>
                            <platform-deleted ng-switch-when="PlatformDeletedEvent" event="event"></platform-deleted>

                            <!-- Modules -->
                            <module-created ng-switch-when="ModuleCreatedEvent" event="event"></module-created>
                            <module-updated ng-switch-when="ModuleUpdatedEvent" event="event"></module-updated>

                            <!-- Module Working Copies -->
                            <module-working-copy-updated ng-switch-when="ModuleWorkingCopyUpdatedEvent" event="event"></module-working-copy-updated>

                            <!-- Module Templates -->
                            <module-template-created ng-switch-when="ModuleTemplateCreatedEvent" event="event"></module-template-created>
                            <module-template-updated ng-switch-when="ModuleTemplateUpdatedEvent" event="event"></module-template-updated>
                            <module-template-deleted ng-switch-when="ModuleTemplateDeletedEvent" event="event"></module-template-deleted>

                            <!-- Properties (Platform) -->
                            <properties-saved ng-switch-when="PropertiesSavedEvent" event="event"></properties-saved>

                            <!-- Templates inside Template Packages (Techno) -->
                            <template-created ng-switch-when="TemplateCreatedEvent" event="event"></template-created>
                            <template-updated ng-switch-when="TemplateUpdatedEvent" event="event"></template-updated>
                            <template-deleted ng-switch-when="TemplateDeletedEvent" event="event"></template-deleted>

                            <!-- Template Package (Techno) -->
                            <template-package-deleted ng-switch-when="TemplatePackageDeletedEvent" event="event"></template-package-deleted>

                        </div>
                    </div>
                </md-virtual-repeat-container>
            </md-content>
        </div>
        <md-dialog-actions>
            <md-button ng-disabled="noMoreEvents" ng-click="showMoreEvents()" class="md-raised ">{{msgMoreEvents}}</md-button>
            <md-button ng-click="$closeDialog()" class="md-raised md-warn">Fermer</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>
