<div class="bg-light">
    <h3>{{title}}</h3>
    <blockquote>
        <p ng-repeat="template_entry in templateEntries | orderBy:['location', 'name']"
           style="font-size: 14px;margin-bottom: 0px;" ng-class="{'text-stroke': hover}">
            <button ng-really-message="Etes-vous sur de vouloir supprimer le template '{{template_entry.name}}'"
                    ng-really-click="delete_template(template_entry.namespace, template_entry.name)"
                    class="btn btn-link btn-red btn-no-padding" ng-mouseenter="hover = true"
                    ng-mouseleave="hover = false"><span class="glyphicon glyphicon-remove"></span></button>
            {{template_entry.location}}/<a href=""
                                           ng-click="edit_template(template_entry.namespace, template_entry.name)">{{template_entry.filename}}</a><em
                style="font-size: 12px;margin-left: 5px;">{{template_entry.name}}</em>
        </p>
    </blockquote>
    <button ng-click="add_template(namespace)" class="btn">Ajouter un template</button>
</div>