<div class="modal-header">
    <h3 class="modal-title">Ajout/Edition de template</h3>
</div>
<div class="modal-body">
    <form name="templateForm" role="form">
        <div class="form-group">
            <input type="text" class="form-control" required ng-trim="true" ng-model="template.name"
                   id="templateName" placeholder="Titre" ng-disabled="isReadOnly"
                    data-hint="le titre du template est unique"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" required ng-trim="true" ng-model="template.filename" ng-disabled="isReadOnly"
                   id="templateFilename"
                   placeholder="Nom du fichier final"
                   data-hint="Indiquer le nom qu'aura le fichier sur le serveur. On peut utiliser des proprietes dans ce champ"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" required ng-trim="true" ng-model="template.location" ng-disabled="isReadOnly"
                   id="templateLocation"
                   placeholder="Dossier de destination"
                   data-hint="Indiquer le dossier dans lequel sera copie le fichier sur le serveur. On peut utiliser des proprietes dans ce champ"/>
        </div>
        <div class="form-group" id="templateContentParent" style="padding-top: 10px">
            <label style="width: 100%">Contenu du fichier
                <small class="text-right" style="padding-left: 10px; color: grey;font-weight:normal"><kbd>F11</kbd>
                    Activer / <kbd>Esc</kbd> Desactiver l'edtion en plein ecran
                </small>
                <small class="text-right" style="float: right">
                    Mode MIME:
                    <select ng-init="selectedMode = codemirrorModes[0]" ng-options="mode.name for mode in codemirrorModes" ng-model="selectedMode" ng-change="changeCodeMirrorMode(selectedMode.mimetype)"></select>
                </small>
            </label>
            <ui-codemirror id="templateContent" ui-codemirror-opts="codeMirrorOptions"
                           ng-model="template.content"></ui-codemirror>
        </div>
        <div class="template-right">
            <fieldset class="standard">
                <legend>User</legend>
                R <select ng-model="template.rights.user.read">
                    <option value="true" ng-selected="template.rights.user.read === true">O</option>
                    <option value="false" ng-selected="template.rights.user.read === false">N</option>
                </select>

                W <select ng-model="template.rights.user.write">
                    <option value="true" ng-selected="template.rights.user.write === true">O</option>
                    <option value="false" ng-selected="template.rights.user.write === false">N</option>
                </select>

                X <select ng-model="template.rights.user.execute">
                    <option value="true" ng-selected="template.rights.user.execute === true">O</option>
                    <option value="false" ng-selected="template.rights.user.execute === false">N</option>
                </select>
            </fieldset>

            <fieldset class="standard">
                <legend>Group</legend>
                R <select ng-model="template.rights.group.read">
                    <option value="true" ng-selected="template.rights.group.read === true">O</option>
                    <option value="false" ng-selected="template.rights.group.read === false">N</option>
                </select>

                    W <select ng-model="template.rights.group.write">
                    <option value="true" ng-selected="template.rights.group.write === true">O</option>
                    <option value="false" ng-selected="template.rights.group.write === false">N</option>
                </select>

                    X <select ng-model="template.rights.group.execute">
                    <option value="true" ng-selected="template.rights.group.execute === true">O</option>
                    <option value="false" ng-selected="template.rights.group.execute === false">N</option>
                </select>
            </fieldset>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="templateForm.$invalid" ng-click="$save(template)" ng-hide="isReadOnly">Sauver le
        template
    </button>
    <button class="btn btn-success" ng-disabled="templateForm.$invalid" ng-click="$close(template)" ng-hide="isReadOnly">Sauver et
        Fermer
    </button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
</div>