<blockquote ng-if="templateEntries.length > 0">
    <p ng-repeat="template_entry in templateEntries | orderBy:['location', 'name']"
       class="tempalte-list-item">

        <md-button class="md-icon-button md-warn md-xs"
                   ng-really-message="Etes-vous sur de vouloir supprimer le template '{{template_entry.name}}' ?"
                   aria-label="Etes-vous sur de vouloir supprimer le template '{{template_entry.name}}' ?"
                   ng-really-click="delete_template(template_entry.name)"
                   ng-mouseenter="hover = true"
                   ng-mouseleave="hover = false"
                   ng-show="!isReadOnly"
                ><i class="fa fa-trash"></i></md-button>
        <span ng-class="{'text-stroke': hover}">
            <em class="template-list-item-name">{{template_entry.name}}</em>
            <a href="" title="{{template_entry.location}}/{{template_entry.filename}}" ng-click="edit_template(template_entry.name)">{{template_entry.location}}/{{template_entry.filename}}</a>
        </span>
    </p>
</blockquote>
<md-button ng-click="add_template()" class="md-raised" ng-show="!isReadOnly">Ajouter un template</md-button>