<div class="row">
    <div class="col-md-12">
        <blockquote>
            <h3>Application <strong>{{application.name}}</strong>, Version <strong>{{application.version}}</strong></h3>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <list-of-items title="'BRIQUES APPLICATIVES'"
                       items="application.units"
                       label="$item.name"
                       onedit="edit_unit($item)"
                       ondelete="del_unit($item)"
                       onadd="add_unit($name)"></list-of-items>
        <button ng-click="save(application)" class="btn btn-primary">Sauver</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    </div>
</div>

<div class="row voffset1" ng-if="false">
    <div class="col-md-6">
        <div style="margin-top: 30px" class="row">
            <div class="col-md-12">
                <div class="bg-light">
                    <h3 class="app-unit"><strong><a href="" editable-text="unit.name"
                                                    onbeforesave="update_unit_title($data)">{{unit.name}}</a></strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <list-of-items title="'Technos'"
                               items="unit.technos"
                               onedit=""
                               ondelete="del_techno($item, unit)"
                               onadd="add_techno($item, unit)"
                               size="small"
                               typeaheadExpression="techno as techno.title for techno in get_technos($viewValue, unit.technos)"
                        ></list-of-items>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hesperides-template-list title="'Les fichiers specifiques de cette brique applicative'"
                                          namespace="application.namespaceOfUnit(unit)"></hesperides-template-list>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="bd-light" style="height: 200px;margin-top: 80px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
    </div>
    <div class="col-md-5">
        <hesperides-model title="'Les properties associees a {{unit.name}}'"
                          namespaces="application.modelNamespacesOfUnit(unit)"></hesperides-model>
    </div>
</div>


