<div class="row">
    <div class="col-md-12">
        <blockquote>
            <h3>Application <strong>{{application.name}}</strong>, Version <strong>{{application.version}}</strong></h3>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="bg-light">
            <h3>BRIQUES APPLICATIVES</h3>
            <list-of-items items="application.units"
                           label="$item.name"
                           selected-item="unit"
                           createfunction="create_unit($name)"
                           ondelete="delete_unit($item)"
                           selectable="true">
            </list-of-items>
            <button ng-click="save(application)" class="btn btn-primary">Sauver</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    </div>
</div>

<div class="row voffset1" ng-if="is_unit_selected()">
    <div class="col-md-6">
        <div style="margin-top: 30px" class="row">
            <div class="col-md-12">
                <div class="bg-light">
                    <h3 class="app-unit"><strong><a href="" editable-text="unit.name"
                                                    onbeforesave="update_unit_title($data)">{{unit.name}}</a></strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg-light">
                    <h4>Technos :</h4>
                    <list-of-items items="unit.technos"
                                   createfunction="create_techno($name)"
                                   ondelete="delete_techno($item)"
                                   size="small"
                                   label="$item"
                                   selected-item="techno"
                                   selectable="false"
                                   typeaheadexpression="techno as techno.title for techno in $parent.$parent.search_technos($viewValue, $parent.$parent.unit.technos)"
                            ></list-of-items>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg-light">
                    <h4>Les fichiers specifiques de cette brique applicative</h4>
                    <hesperides-template-list namespace="unit.namespace"></hesperides-template-list>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="bd-light" style="height: 200px;margin-top: 80px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
    </div>
    <div class="col-md-5">
        <h3>Les properties associees a '{{unit.name}}'</h3>
        <hesperides-model namespaces="unit.modelNamespaces"></hesperides-model>
    </div>
</div>


