<!-- Properties commands -->
<div layout="row" class="vertical-align" style="padding-bottom: 20px;">
    <h3>
        <span style="padding-right: 10px">Propriétés niveau plateforme</span>
    </h3>
    <div layout="row" >
        <md-button ng-click="showButtonAndEye = !showButtonAndEye;showGlobalProperties = !showGlobalProperties"
                   class="md-fab md-primary md-mini" aria-label="Deplier/Plier le menu">
            <i class="fa" ng-class="{'fa-eye': !showButtonAndEye, 'fa-eye-slash': showButtonAndEye}"></i>
        </md-button>

        <md-button class="md-raised md-mini"
                   ng-click="diff_global_properties(platform)"><i class="fa fa-exchange"></i> Comparer les propriétés globales</md-button>

        <md-button class="md-raised md-primary md-mini"  ng-show="showButtonAndEye"
                   ng-click="save_global_properties(platform.global_properties)"><i class="fa fa-check"></i> Sauver les propriétés globales</md-button>

        <md-switch class="md-primary md-block ng-pristine ng-untouched ng-valid tri-switch" ng-click="platform.global_properties.switchOrder()"
                   ng-show="showButtonAndEye"
                   aria-label="Trier les propriétés"
                   role="checkbox">
                <span class="fa"
                      data-ng-class="{'fa-sort-alpha-asc': !platform.global_properties.isReverseOrder(), 'fa-sort-alpha-desc': platform.global_properties.isReverseOrder()}"></span>
            <span class="ng-binding ng-scope">Tri des propriétés</span>
        </md-switch>
    </div>
</div>
<!-- / Properties commands -->
<div layout="row" class="vertical-align" ng-show="showGlobalProperties">
    <div flex="100">
        <form>
            <properties-globales-box />
        </form>
    </div>
</div>

<div layout="row" layout-wrap>
    <div flex="5">
        <md-button ng-click="open_add_box_dialog(mainBox)" class="md-fab properties-add-logical-group"
                   aria-label="Ajouter un groupe logique">
            <span class="fa fa-inbox"></span>
            <md-tooltip>
                Ajouter un groupe logique
            </md-tooltip>
        </md-button>
    </div>
    <div flex="95" class="list-inline">
        <ul class="box list-inline">
            <li class="jumbotron" ng-repeat="box in (mainBox.children | orderObjectBy:'name')" ng-include="'application/box_renderer.html'"/>

            <li class="jumbotron" ng-if="box.modules.length > 0">
                <md-button ng-repeat="module in mainBox.modules" class="md-fab"
                           aria-label="Ajouter un groupe logique">
                    {{module.title}}<span class="fa fa-list"></span>
                </md-button>
            </li>

        </ul>
    </div>
</div>

<div layout="row" ng-show="properties">
    <div flex="50">
        <h3><span style="margin-right: 30px">Les propriétés associées à <strong>{{selected_module.path.split('#').join('
            | ')}} | {{selected_module.title}}</strong></span>
        </h3>
    </div>
    <div flex="50">
        <div id="propertiesButtonsContainer" layout="row" layout-align="space-around" style="z-index: 1000">
            <md-button id="cleanPropertiesButton" ng-click="clean_properties(properties)"
                       class="md-raised">
                <span class="fa fa-trash"></span>
                <span>Nettoyer les valorisations inutiles</span>
            </md-button>
            <md-button ng-click="save_properties(properties, selected_module)"
                       ng-disabled="technoForm.$invalid"
                       class="md-raised md-primary">
                <span class="fa fa-check"></span>
                <span>Sauver les propriétés</span>
            </md-button>
        </div>
    </div>
</div>
<div layout="row" ng-show="properties">
    <div flex="100">
        <properties-list properties="properties">
        </properties-list>
    </div>
</div>
<div layout="row" ng-show="instance">
    <div flex="100">
        <h3>
                <span style="margin-right: 30px">Les propriétés d'instance associées à <strong>
                    <a href="" editable-text="instance.name"
                       onbeforesave="update_instance_name(instance, $data)">{{instance.name}}</a></strong></span>
            <md-button ng-click="save_platform_from_box(mainBox)"
                       ng-disabled="technoForm.$invalid"
                    class="md-raised md-primary">
                <i class="fa fa-check"></i>
                Sauver les propriétés d'instance
            </md-button>
        </h3>

        <!-- Showing instance properties -->
        <instance-properties instance="instance"></instance-properties>
    </div>
</div>