<div layout="row" layout-wrap>
    <div flex="30">
        <!-- Filtre sur l'arbre -->
        <div>
            <md-input-container class="md-block margin-inherit">
                <label>Filtrer sur l'arbre</label>
                <!-- Add ngModelOptions for big tree, to prevent key press hang -->
                <input type="text" ng-trim="true" ng-model="searchInTree" ng-model-options="{ debounce: { 'default': 250 } }" />
            </md-input-container>
        </div>

        <!-- Element root de l'arbre -->
        <div id="header" layout="row">
            <div flex="none" layout="row" layout-align="none center"><h3>Plateforme</h3></div>
            <div flex="grow" layout="row" layout-align="none center">
                <md-button ng-click="open_add_box_dialog(mainBox)" class="md-xs" aria-label="Ajouter un groupe logique" tooltip="">
                    <md-tooltip>Ajouter un groupe logique</md-tooltip>
                    <i class="fa fa-inbox"></i>
                </md-button>
                <md-button class="md-xs" aria-label="Editer les propriétés" ng-click="showGlobalPropertiesDisplay();movePropertiesDivHolderToCursorPosition($event);">
                    <md-tooltip>Editer les propriétés globales</md-tooltip>
                    <i class="fa fa-list"></i>
                </md-button>
                <md-button class="md-xs" aria-label="Comparer les propriétés globales" ng-click="diff_global_properties(platform)">
                    <md-tooltip>Comparer les propriétés globales</md-tooltip>
                    <i class="fa fa-exchange"></i>
                </md-button>
            </div>
        </div>

        <!-- Elements enfants -->
        <div>
            <div
                 ng-repeat="box in (mainBox.children | orderObjectBy:'name') | filterBox:searchInTree"
                 ng-include="'application/tree_renderer.html'"/>
            </div>
        </div>
    </div>

<div flex="70">
    <div id="propertiesDivHolder">
        <!-- Bouton sauvegarder -->
        <div layout="row" layout-align="end start" ng-show="showGlobalProperties">
            <md-button class="md-raised md-primary"
                       ng-click="save_global_properties(platform.global_properties)">
                <i class="fa fa-check"></i>
                Sauver les propriétés globales
            </md-button>

            <toggle-sort-properties sort-order="order"></toggle-sort-properties>
        </div>
        <div layout="row" ng-show="showGlobalProperties" flex="100">
            <div flex="100">
                <form>
                    <properties-globales-tree platform="platform" sort-order="order"/>
                </form>
            </div>
        </div>
        <div class="margin-top-5px" layout="row" ng-show="properties">
            <div >
                <h3><span>Les propriétés associées à <strong>{{selected_module.path.split('#').join('
                    | ')}} | {{selected_module.title}}</strong></span>
                </h3>
            </div>
        </div>
        <div class="margin-top-5px" layout="row" ng-show="properties">
            <div>
                <md-button id="cleanPropertiesButton" ng-click="clean_properties(properties)" class="md-raised">
                    <i class="fa fa-trash"></i>
                    <span>Nettoyer les valorisations inutiles</span>
                </md-button>
                <md-button id="savedPropertiesButton" ng-click="save_properties(properties, selected_module)" class="md-raised md-primary">
                    <i class="fa fa-check"></i>
                    <span>Sauver les propriétés</span>
                </md-button>
            </div>
        </div>

        <div layout="row" ng-show="properties">
            <div flex="100">
                <properties-list properties="properties" properties-model="model" platform="platform"></properties-list>
            </div>
        </div>

        <div layout="row" ng-show="instance">
            <div>
                <h3 class="margin-top-0px">
                <span class="margin-right-30px">Les propriétés d'instance associées à <strong>
                    <a href="" editable-text="instance.name"
                       onbeforesave="update_instance_name(instance, $data)">{{instance.name}}</a></strong></span>
                    <md-button ng-click="save_platform_from_box(mainBox)" class="md-raised md-primary">
                        <i class="fa fa-check"></i>
                        <span>Sauver les propriétés</span>
                    </md-button>
                </h3>

                <!-- Showing instance properties -->
                <instance-properties instance="instance"></instance-properties>
            </div>
        </div>
    </div>
</div>