<div id="header">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{ Page.title() }}</a>
            </div>

            <div class="collapse navbar-collapse">

                <p class="navbar-text"><span class="divider">/</span></p>

                <p class="navbar-text">Regrouper des templates<span class="glyphicon glyphicon-arrow-right"
                                                                    style="margin-left: 10px"></span></p>

                <ul class="nav navbar-nav navbar-left">

                    <li class="dropdown" ng-controller="MenuTechnoCtrl">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">En techno<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                            <li><a href="" ng-click="open_create_techno_dialog()">Creer une working copy</a></li>
                            <li><a href="" ng-click="open_create_techno_from_dialog()">Creer une working copy à partir
                                de...</a></li>
                            <li class="divider"></li>
                            <li><a href=""><input style="border: none;background:transparent" type="text"
                                                  ng-model="technoSearched" ng-blur="technoSearched=''"
                                                  placeholder="Rechercher"
                                                  typeahead="techno as techno.title for techno in find_technos_by_name($viewValue)"
                                                  typeahead-on-select="open_techno_page($item.name, $item.version, $item.is_working_copy)"/></a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown" ng-controller="MenuModuleCtrl">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">En module<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                            <li><a href="" ng-click="open_create_module_dialog()">Creer un nouveau module
                                </a></li>
                            <li><a href="" ng-click="open_create_module_from_dialog()">Creer une working copy à partir
                                de...</a></li>
                            <li class="divider"></li>
                            <li><a href=""><input style="border: none;background:transparent" type="text"
                                                  ng-model="moduleSearched" ng-blur="moduleSearched=''"
                                                  placeholder="Rechercher"
                                                  typeahead="module as module.title for module in find_modules_by_name($viewValue)"
                                                  typeahead-on-select="open_module_page($item.name, $item.version, $item.is_working_copy)"/></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p class="navbar-text"><span class="divider">/</span></p>

                <p class="navbar-text">Valoriser des properties<span class="glyphicon glyphicon-arrow-right"
                                                                     style="margin-left: 10px"></span></p>

                <ul class="nav navbar-nav navbar-left">

                    <li class="dropdown" ng-controller="MenuPropertiesCtrl">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pour des applications<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()"
                            style="width: 450px !important">
                            <li><a href="" ng-click="open_create_platform_dialog()">Creer une plateforme</a></li>
                            <li><a href="" ng-click="open_create_platform_from_dialog()">Creer une plateforme à partir
                                de...</a></li>
                            <li class="divider"></li>
                            <li><a href=""><input style="border: none;background:transparent;width: 420px !important"
                                                  type="text" ng-model="applicationSearched"
                                                  ng-blur="applicationSearched=''"
                                                  placeholder="Rechercher une application pour y éditer/ajouter des properties"
                                                  typeahead="application.name for application in find_applications_by_name($viewValue)"
                                                  typeahead-on-select="open_properties_page($item.name, null)"/></a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown" ng-controller="MenuHelpCtrl">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aide <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                            <li><a href="/swagger.html">Swagger</a></li>
                            <li><a href="" ng-click="display_hesperides_informations()">A propos</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</div>

<script type="text/ng-template" id="help-menu-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">A propos</h3>
    </div>
    <div class="modal-body">
        <p><strong>Version du backend :</strong> {{backend_version}}</p>

        <p><strong>Version de l'API :</strong> {{api_version}}</p>

        <p><strong>Version du front :</strong> {{front_version}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$dismiss('cancel')">Fermer</button>
    </div>
</script>

<script type="text/ng-template" id="techno-menu-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Nouvelle techno (working copy)</h3>
    </div>
    <div class="modal-body">
        <form name="technoForm" role="form" novalidate ng-submit="technoForm.$valid && open_techno_page(new_techno.name, new_techno.version, true)">
            <div class="form-group">
                <label for="technoName">Nom</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_techno.name"
                       id="technoName" placeholder="Entrer un nom"/>
            </div>
            <div class="form-group">
                <label for="technoVersion">Version cible</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_techno.version"
                       id="technoVersion" placeholder="Entrer un numero de version"/>
            </div>
            <input type="submit" id="submit" value="Submit" ng-hide="true"/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="technoForm.$invalid"
                ng-click="$submit()">Creer
        </button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
    </div>
</script>

<script type="text/ng-template" id="techno-menu-modal-from.html">
    <div class="modal-header">
        <h3 class="modal-title">Nouvelle techno (working copy) à partir d'une précédente version</h3>
    </div>
    <div class="modal-body">
        <form name="technoForm" role="form" novalidate ng-submit="technoForm.$valid && create_techno_from(new_techno.name, new_techno.version, technoSearched.name, technoSearched.version, technoSearched.is_working_copy)">
            <div class="form-group">
                <label for="technoName">Nom</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_techno.name"
                       id="technoName" placeholder="Entrer un nom"/>
            </div>
            <div class="form-group">
                <label for="technoVersion">Version cible</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_techno.version"
                       id="technoVersion" placeholder="Entrer un numero de version"/>
            </div>
            <div class="form-group">
                <label for="fromTechno">A partir de</label>
                <input type="text" class="form-control" id="fromTechno"
                       ng-model="technoSearched"
                       placeholder="Rechercher" required
                       typeahead-editable="false"
                       typeahead="techno as techno.title for techno in find_technos_by_name($viewValue)"
                        />
            </div>
            <input type="submit" id="submit" value="Submit" ng-hide="true"/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="technoForm.$invalid"
                ng-click="$submit()">
            Creer
        </button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
    </div>
</script>

<script type="text/ng-template" id="module-menu-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Nouveau module (working copy)</h3>
    </div>
    <div class="modal-body">
        <form name="moduleForm" role="form" novalidate ng-submit="moduleForm.$valid && create_module(new_module.name, new_module.version)">
            <div class="form-group">
                <label for="moduleName">Nom</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_module.name"
                       id="moduleName" placeholder="Entrer un nom"/>
            </div>
            <div class="form-group">
                <label for="moduleVersion">Version</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_module.version"
                       id="moduleVersion" placeholder="Entrer un numero de version"/>
            </div>
            <input type="submit" id="submit" value="Submit" ng-hide="true"/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="applicationForm.$invalid"
                ng-click="$submit()">Creer
        </button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
    </div>
</script>

<script type="text/ng-template" id="module-menu-modal-from.html">
    <div class="modal-header">
        <h3 class="modal-title">Nouveau module (working copy) à partir d'une précédente version</h3>
    </div>
    <div class="modal-body">
        <form name="moduleForm" role="form" novalidate ng-submit="moduleForm.$valid && create_module_from(new_module.name, new_module.version, moduleSearched)">
            <div class="form-group">
                <label for="moduleName">Nom</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_module.name"
                       id="moduleName" placeholder="Entrer un nom"/>
            </div>
            <div class="form-group">
                <label for="moduleVersion">Version cible</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_module.version"
                       id="moduleVersion" placeholder="Entrer un numero de version"/>
            </div>
            <div class="form-group">
                <label for="fromModule">A partir de</label>
                <input type="text" class="form-control" id="fromModule"
                       ng-model="moduleSearched"
                       placeholder="Rechercher" required
                       typeahead-editable="false"
                       typeahead="module as module.title for module in find_modules_by_name($viewValue)"
                        />
            </div>
            <input type="submit" id="submit" value="Submit" ng-hide="true"/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="moduleForm.$invalid"
                ng-click="$submit()">Creer
        </button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
    </div>
</script>

<script type="text/ng-template" id="platform-menu-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Nouvelle plateforme</h3>
    </div>
    <div class="modal-body">
        <form name="platformForm" role="form" novalidate ng-submit="platformForm.$valid && create_platform(new_platform.application_name, new_platform.platform_name, new_platform.application_version)">
            <div class="form-group">
                <label for="platformApplication">Application</label>
                <input type="text" class="form-control" required ng-trim="true" ng-pattern="/[A-Z]{3}/"
                       ng-model="new_platform.application_name"
                       placeholder="Indiquer le trigramme applicatif (exemples : VSL, EPM, ACW …)"
                       id="platformApplication"
                        />
            </div>
            <div class="form-group">
                <label for="platformName">Plateforme</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_platform.platform_name"
                       id="platformName" placeholder="Indiquer la plateforme (exemples : USN1, REC2, PRD3 …)"/>
            </div>
            <div class="form-group">
                <label for="platformApplicationVersion">Version de l'application</label>
                <input type="text" class="form-control" required ng-trim="true"
                       ng-model="new_platform.application_version"
                       id="platformApplicationVersion"
                       placeholder="Indiquer la version de l'application sur cette plateforme"/>
            </div>
            <input type="submit" id="submit" value="Submit" ng-hide="true"/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="platformForm.$invalid"
                ng-click="$submit()">
            Creer
        </button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
    </div>
</script>

<script type="text/ng-template" id="platform-menu-modal-from.html">
    <div class="modal-header">
        <h3 class="modal-title">Nouvelle plateforme</h3>
    </div>
    <div class="modal-body">
        <form name="platformForm" role="form" novalidate ng-submit="platformForm.$valid && create_platform_from(new_platform.application_name, new_platform.platform_name, new_platform.application_version, new_platform.from_application, new_platform.from_platform)">
            <div class="form-group">
                <label for="platformApplication">Application</label>
                <input type="text" class="form-control" required ng-trim="true" ng-pattern="/[A-Z]{3}/"
                       ng-model="new_platform.application_name"
                       placeholder="Indiquer le trigramme applicatif (exemples : VSL, EPM, ACW …)"
                       id="platformApplication"
                        />
            </div>
            <div class="form-group">
                <label for="platformName">Plateforme</label>
                <input type="text" class="form-control" required ng-trim="true" ng-model="new_platform.platform_name"
                       id="platformName" placeholder="Indiquer la plateforme (exemples : USN1, REC2, PRD3 …)"/>
            </div>
            <div class="form-group">
                <label for="platformApplicationVersion">Version de l'application</label>
                <input type="text" class="form-control" required ng-trim="true"
                       ng-model="new_platform.application_version"
                       id="platformApplicationVersion"
                       placeholder="Indiquer la version de l'application sur cette plateforme"/>
            </div>
            <div class="form-group">
                <label for="fromPlatform">Depuis la plateforme</label>
                <input type="text" class="form-control" required ng-trim="true"
                       ng-model="new_platform.from_platform"
                       id="fromPlatform"
                       placeholder="Plateforme source"/>
            </div>
            <div class="form-group">
                <label for="fromApplication">De l'application</label>
                <input type="text" class="form-control" required ng-trim="true"
                       ng-model="new_platform.from_application"
                       id="fromApplication"
                       placeholder="Application source"/>

            </div>
            <input type="submit" id="submit" value="Submit" ng-hide="true"/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="platformForm.$invalid"
                ng-click="$submit()">
            Creer
        </button>
        <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
    </div>
</script>