<div id="header">
    <md-toolbar class="md-menu-toolbar">
        <md-menu-bar class="menu">
            <span>{{ Page.title() }}</span>
            <span class="menu-header"> / Regrouper des templates <i class="fa fa-arrow-right"></i></span>
            <md-menu ng-controller="MenuTechnoCtrl">
                <button ng-click="$mdOpenMenu()" class="menu">
                    En techno <i class="fa fa-caret-down"></i>
                </button>
                <md-menu-content class="menu-item">
                    <md-menu-item>
                        <md-button ng-click="open_create_techno_dialog()">
                            Creer une working copy
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="open_create_techno_from_dialog()">
                            Creer une working copy à partir de...
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item >
                        <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text="ctrl.searchText"
                                md-items="item in find_technos_by_name(ctrl.searchText)"
                                md-item-text="item.name"
                                md-selected-item-change="(item) ? open_techno_page(item.name, item.version, item.is_working_copy) : false"
                                md-min-length="0"
                                placeholder="Rechercher...">
                            <span md-highlight-text="ctrl.searchText" ng-show="item.is_working_copy">{{item.name}} {{item.version}} (working copy)</span>
                            <span md-highlight-text="ctrl.searchText" ng-show="!item.is_working_copy">{{item.name}} {{item.version}}</span>
                        </md-autocomplete>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu ng-controller="MenuModuleCtrl">
                <button ng-click="$mdOpenMenu()" class="menu">
                    En module <i class="fa fa-caret-down"></i>
                </button>
                <md-menu-content class="menu-item">
                    <md-menu-item>
                        <md-button ng-click="open_create_module_dialog()">
                            Creer un nouveau module
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="open_create_module_from_dialog()">
                            Creer une working copy à partir de...
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-autocomplete
                                         md-no-cache="true"
                                         md-selected-item="ctrl.selectedItem"
                                         md-search-text="ctrl.searchText"
                                         md-items="item in find_modules_by_name(ctrl.searchText)"
                                         md-item-text="item.name"
                                         md-selected-item-change="(item) ? open_module_page(item.name, item.version, item.is_working_copy) : false"
                                         md-min-length="0"
                                         placeholder="Rechercher...">
                            <span md-highlight-text="ctrl.searchText" ng-show="item.is_working_copy">{{item.name}} {{item.version}} (working copy)</span>
                            <span md-highlight-text="ctrl.searchText" ng-show="!item.is_working_copy">{{item.name}} {{item.version}}</span>
                        </md-autocomplete>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <span class="menu-header">Valoriser des properties <i class="fa fa-arrow-right"></i></span>
            <md-menu ng-controller="MenuPropertiesCtrl">
                <button ng-click="$mdOpenMenu()" class="menu">
                    Pour des applications <i class="fa fa-caret-down"></i>
                </button>
                <md-menu-content class="menu-item">
                    <md-menu-item>
                        <md-button ng-click="open_create_platform_dialog()">
                            Creer une plateforme
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="open_create_platform_from_dialog()">
                            Creer une plateforme à partir de...
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text="ctrl.searchText"
                                md-items="item in find_applications_by_name(ctrl.searchText)"
                                md-item-text="item.name"
                                md-selected-item-change="(item) ? open_properties_page(item.name, null) : false"
                                md-min-length="0"
                                placeholder="Rechercher une application pour y éditer/ajouter des properties">
                            <span md-highlight-text="ctrl.searchText">{{item.name}} {{item.version}}</span>
                        </md-autocomplete>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu ng-controller="MenuHelpCtrl" class="menu-help">
                <button ng-click="$mdOpenMenu()" class="menu">
                    Aide <i class="fa fa-question"></i>
                </button>
                <md-menu-content class="menu-item">
                    <md-menu-item>
                        <md-button ng-click="display_swagger()">
                            Swagger
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="display_hesperides_informations()">
                            A propos
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </md-toolbar>
</div>