		<h3>{{instance.name}} {{instance.type}}</h3>
		<p>{{instance.application}} {{instance.platform}} {{instance.client}} {{instance.application_version}} ({{instance.application_url}})</p>
		<p>Composant {{instance.component}} sur la machine {{instance.hostname}} ({{instance.ip}})</p>
		<p>User {{instance.user}} ({{instance.home}})</p>
		<p>Template puppet {{instance.puppet_template_path}}</p>
		<p>Options JVM Specifiques:</p>
		<ul>
			<li>Tuning : {{instance.jvm_opts.tuning}}</li>
			<li>System : {{instance.jvm_opts.system}}</li>
		</ul>
		<p>Binaires requis:</p>
		<ul>
			<li ng-repeat="bin in instance.bins">{{bin.name}} {{bin.version}} {{bin.home}}</li>
		</ul>
		<p>Modules:</p>
		<ul>
			<li ng-repeat="module in instance.modules">{{module.name}} {{module.war}} {{module.context}}</li>
		</ul>
		<p>Ports:</p>
		<ul>
			<li ng-repeat="port in instance.ports">{{port.name}} {{port.number}}</li>
		</ul>
		<p>JDBC:</p>
		<ul>
			<li ng-repeat="jdbc in instance.external_links.jdbc">{{jdbc.name}} {{jdbc.schema}} {{jdbc.pool.min}} {{jdbc.pool.max}}</li>
		</ul>
		<p>JMS:</p>
		<ul>
			<li ng-repeat="jms in instance.external_links.jms">{{jms.name}} {{jms.type}} {{jms.shortName}} {{jms.instance}}</li>
		</ul>
		<p>JOLT:</p>
		<ul>
			<li ng-repeat="jolt in instance.external_links.jolt">{{jolt.host}} {{jolt.gateway}} {{jolt.pool.min}} {{jolt.pool.max}}</li>
		</ul>
		<p>WAS:</p>
		<ul>
			<li ng-repeat="was in instance.external_links.was">{{was.name}} {{was.instances}}</li>
		</ul>

 
