<form name="instanceForm" class="instance-form" role="form">
		<h2>Propri&#233;t&#233;s:</h2>
		<p>
			<span>Nom: <input type="text" ng-model="instance.name" size="30"/></span>
			<span>Type: {{instance.type}}</span>
		</p>
		<p>
			<span>Client: <input type="text" ng-model="instance.client" size="8" /></span>
			<span>Version: <input type="text" ng-model="instance.application_version" size="8"/></span>
			<span>URL: <input type="text" ng-model="instance.application_url" size="60"/></span>
		</p>
		<p>
			<span>Composant: <input type="text" ng-model="instance.component" size="6"/></span>
			<span>Host: <guess-zone><guess-instancebucket instances="instances" instance="instance" field="'hostname'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="instance.hostname" guess-input size="20" /></span>
			<span>IP: <input type="text" ng-model="instance.ip" size="15"/></guess-zone></span>
		</p>
		<p>
			<span>User: <guess-zone><guess-instancebucket instances="instances" instance="instance" field="'user'"></guess-instancebucket><guess-tooltip></guess-tooltip> <input type="text" ng-model="instance.user" guess-input size="10" /></span>
			<span>Home: <input type="text" ng-model="instance.home" size="30" /> </guess-zone></span>
		</p>
		
		<p ng-if="instanceTypeIs(['WAS','ESB'])">
			<span>Template puppet: <guess-zone><guess-instancebucket instances="instances" instance="instance" field="'puppet_template_path'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="instance.puppet_template_path" guess-input /></guess-zone></span>
		</p>
		
		<span ng-if="instanceTypeIs(['WAS','ESB'])">
		<p>
			<h2>Options JVM Specifiques:</h2>
			<ul>
				<li>Tuning : <input ng-list type="text" ng-model="instance.jvm_opts.tuning" size="120" /></li>
				<li>System : <input ng-list type="text" ng-model="instance.jvm_opts.system" size="120" /></li>
			</ul>
		</p>
		</span>
		
		<span ng-if="instanceTypeIs('AMQ')">
		<p>
			<p>
				<span>AMQ_TYPE: <input type="text" ng-model="instance.amq_type" size="5"/></span>
				<span>NOM LOGIQUE: <input type="text" ng-model="instance.logical_name" size="20"/></span>
				<span>DOSSIER DATA: <input type="text" ng-model="instance.target_dir" size="40"/></span>
			</p>
			<p>
				<span>QUEUE: <input type="text" ng-model="instance.queue" size="40"/></span>
				<span>DISCOVERY URL: <input type="text" ng-model="instance.discovery_url" size="80"/></span>
				<span>MASTER: <input type="text" ng-model="instance.master" size="20" /></span>
			</p>
		</p>
		</span>
		
		<span ng-if="instanceTypeIs('SGBD')">
		<p>
			<span>Schema: <guess-zone><guess-instancebucket instances="instances" instance="instance" field="'schema'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="instance.schema" guess-input /></span>
			<span>Login: <input type="text" ng-model="instance.login" /></span>
			<span>Password: <input type="text" ng-model="instance.password" /></guess-zone></span>
			<span>FQDN: <input type="text" ng-model="instance.fqdn" /></span>
			<span>TYPE_TECHNO: <input type="text" ng-model="instance.type_techno" /></span>
		</p>
		</span>
		
		<span ng-if="instanceTypeIs('HTTP')">
		<p>
			<span>Method_test <input type="text" ng-model="instance.method_test"/></span>
			<span>nb_echec: <input type="text" ng-model="instance.nb_echec" size="2"/></span>
		</p>
		</span>
		
		<span ng-if="instanceTypeIs(['HAP','HTTP','ESB', 'WAS'])">
		<p>
			<span>Target_dir: <input type="text" ng-model="instance.target_dir" size="40"/></span>
		</p>
		</span>
		
		<span ng-if="instanceTypeIs(['WAS','ESB'])">
		<p>
			<h2>Modules: <button ng-click="Add_module()" class="btn btn-success">+</button></h2>
			<ul>
				<li ng-repeat="module in instance.modules track by $index">
					<span>Nom: <guess-zone><guess-instancebucket instances="instances" instance="instance" bucket="'modules'" object="module" field="'name'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="module.name" guess-input /></span>
					<span>War: <input type="text" ng-model="module.war" /></span>
					<span>Context: <input type="text" ng-model="module.context" /></guess-zone></span>
					<button ng-click="Del_module($index)" class="btn btn-default">-</button>
				</li>
			</ul>
		</p>
		</span>
		
		<span ng-if="instanceTypeIs(['AMQ','ATO','ESB','TUX','WAS'])">
		<p>
			<h2>Ports: <button ng-click="Add_port()" class="btn btn-success">+</button></h2>
			<ul>
				<li ng-repeat="port in instance.ports track by $index">
					<span>Nom: <guess-zone><guess-instancebucket instances="instances" instance="instance" bucket="'ports'" object="port" field="'name'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="port.name" guess-input size="8"/></span>
					<span>Num: <input type="text" ng-model="port.number" size="5" /></guess-zone></span>
					<button ng-click="Del_port($index)" class="btn btn-danger">-</button>
				</li>
			</ul>
		</p>
		</span>
		
		<span ng-if="instanceTypeIs(['AMQ','ATO','ESB','TUX','WAS'])">
		<p>
			<h2>Binaires: <button ng-click="Add_bin()" class="btn btn-success">+</button></h2>
			<ul>
				<li ng-repeat="bin in instance.bins track by $index">
					<span>Nom: <guess-zone><guess-instancebucket instances="instances" instance="instance" bucket="'bins'" object="bin" field="'name'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="bin.name" guess-input /></span>
					<span>Version: <input type="text" ng-model="bin.version" size="10" /></span>
					<span>Home: <input type="text" ng-model="bin.home" size="50" /></guess-zone></span>
					<button ng-click="Del_bin($index)" class="btn btn-danger">-</button>
				</li>
			</ul>
		</p>
		</span>
		
		<p>
			<h2>Liens: <button ng-click="Add_link()" class="btn btn-success">+</button></h2>
			<ul>
				<li ng-repeat="link in instance.links track by $index">
					<span>Type: <input type="text" ng-model="link.type" size="8"/></span>
					<span ng-switch="link.type">
						<span ng-switch-when="JDBC">
							<span>Nom: <guess-zone><guess-instancebucket instances="instances" instance="instance" bucket="'links'" object="link" field="'key.name'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="link.key.name" guess-input size="10"/></span>
							<span>Schema: <input type="text" ng-model="link.key.schema" /></span>
							<span>Pool(min -max): <input type="text" ng-model="link.configuration.pool_min" size="2"/>-<input type="text" ng-model="link.configuration.pool_max" size="3"/></guess-zone></span> 
						</span>
						<span ng-switch-when="JMS">
							<span>Nom: <guess-zone><guess-instancebucket instances="instances" instance="instance" bucket="'links'" object="link" field="'key.name'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="link.key.name" guess-input size="10"/></span>
							<span>Type: <input type="text" ng-model="link.configuration.type" /></span>
							<span>Trigramme: <input type="text" ng-model="link.configuration.amq_type" size="4"/></span>
							<span>Instance: <input type="text" ng-model="link.key.instance" size="30"/></guess-zone></span>
						</span>
						<span ng-switch-when="JOLT">
							<span>Hote: <guess-zone><guess-instancebucket instances="instances" instance="instance" bucket="'links'" object="link" field="'key.host'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="link.key.host" guess-input size="10"/></span>
							<span>Gateway: <input type="text" ng-model="link.key.gateway" /></span>
							<span>Pool(min-max): <input type="text" ng-model="link.configuration.pool_min" size="2"/>-<input type="text" ng-model="link.configuration.pool_max" size="3"/></guess-zone></span>
						</span>
						<span ng-switch-when="WAS">
							<span>Nom: <guess-zone><guess-instancebucket instances="instances" instance="instance" bucket="'links'" object="link" field="'key.name'"></guess-instancebucket><guess-tooltip></guess-tooltip><input type="text" ng-model="link.key.name" guess-input size="10"/></span>
							<span>Instance: <input type="text" ng-model="link.key.instance" size="30"/></guess-zone></span>
						</span>
						<span ng-switch-default>
							TYPE INCONNU !
						</span>
					</span>
					<button ng-click="Del_link(link)" class="btn btn-danger">-</button>	
				</li>
			</ul>
		</p>
		
</form>

 
