<div class="row">
	<div class="col-md-12">
		<div class="bg-light">
			<h3>PLATEFORMES</h3>
			<ul class="list-inline">
				<li ng-repeat="platform in platforms track by $index">
					<button class="btn" ng-click="choose_platform(platform)" ng-class="{'btn-info': !(chosen_platform === platform), 'btn-warning': chosen_platform === platform}">{{platform}}</button>
				</li>
				<li style="vertical-align: middle"><button ng-click="show_input = true;focus_name_platform()" ng-hide="show_input" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
					<input id="namePlatformInput" type="text" class="form-control" ng-show="show_input" ng-blur="show_input=false; new_platform= ''" ng-model="new_platform" placeholder="Entrer un nom" ng-enter="add_platform(new_platform); new_platform=''; show_input=false"  />
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="bg-light">
			<h3>BRIQUES APPLICATIVES</h3>
			<ul class="list-inline">
				<li ng-repeat="unit in application.units track by $index">
					<button class="btn btn-info" ng-click="choose_unit(unit)" ng-disabled="!is_platform_chosen()" ng-class="{'btn-info': !(chosen_unit === unit), 'btn-warning': chosen_unit === unit}">{{unit.name}}</button>			
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row" ng-show="display_properties()">
	<div class="col-md-12">
		<h3>Les properties associees a '{{chosen_unit.name}}'  <button ng-click="refresh_unit_properties()" style="margin-left:10px;" class="btn btn-info btn-xs">Forcer un recalcul</button><button ng-click="save_properties(properties)" style="margin-left:10px;" class="btn btn-primary btn-xs">Sauver</button></h3>
		<form class="form-horizontal narrow" role="form">
			<div class="form-group" ng-class="{'property-not-used': !key_value_property.inModel}" ng-repeat="key_value_property in properties.key_value_properties | orderBy:'name' track by $index">
				<label for="input-{{ key_value_property.name }}" class="col-md-3 control-label">{{ key_value_property.name }}</label>
				<div class="col-md-9">
					<input id="input-{{ key_value_property.name }}" type="text" class="form-control" placeholder="{{key_value_property.comment}}" ng-model="key_value_property.value" tooltip="{{key_value_property.comment}}" tooltip-trigger="focus" tooltip-placement="right" />
				</div>
			</div>
		</form>
		<h3 ng-show="properties.iterable_properties.length > 0">Proprietes multiples :</h3>
		<dl class="dl-horizontal text-overflow" style="margin-bottom:0" ng-repeat="iterable_property in properties.iterable_properties | orderBy:'name' track by $index">
			<dt>{{ iterable_property.name }}</dt>
			<dd ng-repeat="field in iterable_property.fields | orderBy:'name' track by $index">{{ field.name }}<small style="padding-left: 10px;"><em>{{ field.comment }}</em></small></dd>
		</dl>
	</div>
</div>
