<div style="float: left; width: 65%;">
	<button ng-click="SaveCurrentTemplate()" class="btn btn-success" style="margin-bottom: 10px">Sauver le template</button>
	<div class="enc-border" style="height: 700px">
	<textarea id="template"  style="height: 700px"></textarea>
	</div>
</div>

<div style="float: right; width: 30%;">
	<h3>Champs simples :</h3>
	<div ng-repeat="keyValueProperty in template.scope.keyValueProperties track by $index">
		{{ keyValueProperty.name }} <small>{{ keyValueProperty.comment }}</small>
	</div>
	<h3>Champs iterables :</h3>
	<div ng-repeat="iterableProperty in template.scope.iterableProperties track by $index">
		{{ iterableProperty.name }}
		<ul>
			<li ng-repeat="field in iterableProperty.fields track by $index">
				{{ field.name }}  <small>{{ field.comment }}</small>
			</li>
		</ul>
	</div>
	
	
</div>

