<div style="border-style: solid; padding: 10px 10px 10px 10px">
	<h3>Composants:</h3>
	<ul style="list-style-type: none;">
		<li style="display: inline;  padding: 0 0.5em"  ng-repeat="unit in application.units track by $index"><a href="" ng-click="edit_unit(unit)">{{unit.name}}</a></li>
	</ul>
	<button ng-click="add_unit(application)" class="btn">Ajouter un composant</button>
	<button ng-click="save(application)" class="btn">Sauver</button>
</div>

<div ng-show="is_editing()" style="border-style: solid; padding: 10px 10px 10px 10px">
	<div style="float: left; width: 45%;border-style: solid;">
		<div style="margin-top: 30px">
			<h4>Nom du composant:</h4>
			<span editable-text="editing_unit.name" onbeforesave="update_unit_title($data)">{{editing_unit.name}}</span>
			<h4>Technos:</h4>
			<ul>
				<li ng-repeat="techno in editing_unit.technos track by $index">{{techno.split('.')[1]}}, version {{techno.split('.')[2]}}<button ng-click="del_techno(techno, editing_unit)" class="btn">X</button></li>
			</ul>
			<input type="text" ng-model="asyncTechnoSelected" placeholder="Ajouter une nouvelle techno" typeahead="techno as techno.title for techno in get_technos($viewValue, editing_unit.technos)" />
			<button ng-click="add_techno(asyncTechnoSelected, editing_unit)" class="btn">Ok</button>
		</div>

		<div>
			<h3>Les fichiers specifiques associes au composant</h3>
			<p ng-repeat="template_entry in templateEntries" ><a href="" ng-click="edit_template(template_entry.namespace, template_entry.name)">{{template_entry.name}}</a> <small>{{template_entry.location}}/{{template_entry.filename}}</small><button ng-click="delete_template(template_entry.namespace, template_entry.name)" class="btn">X</button></p>
			<button ng-click="add_template()" class="btn">Ajouter un template</button>
		</div>
	</div>
	<div style="float: right; width: 45%;border-style: solid;">
		<h4>Les properties associees au composant  <button ng-click="refresh_unit_properties()" class="btn">Rafraichir</button><button ng-click="save_properties(properties)" class="btn">Sauver</button></h4>
		<h5>Champs simples :</h5>
		<div ng-repeat="key_value_property in properties.key_value_properties track by $index">
			{{ key_value_property.name }} <input type="text"  ng-model="key_value_property.value" tooltip="{{key_value_property.comment}}" tooltip-trigger="focus" tooltip-placement="right" /><span class="glyphicon glyphicon-thumbs-down" ng-hide="key_value_property.inModel"/>
		</div>
		<h5>Champs iterables :</h5>
		<div ng-repeat="iterable_property in properties.iterable_properties track by $index">
			{{ iterable_property.name }}
			<ul>
				<li ng-repeat="field in iterable_property.fields track by $index">
					{{ field.name }}  <small>{{ field.comment }}</small>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog"  id="template-edit-modal" aria-hidden="true">
<div id="edit-template-container" class="modal-dialog modal-lg modal-content">
<div style="padding-top:10px;padding-left: 20px;padding-right: 20px;">
	<p>Nom du template: <input type="text" ng-model="template.name" size="30" /></p>
	<p>Nom du fichier sur le serveur: <input type="text" ng-model="template.filename" size="30"/></p>
	<p>Emplacement du fichier sur le serveur: <input type="text" ng-model="template.location" size="40"/></p>
	<div class="enc-border" style="height: 400px">
	<textarea id="template-textarea" style="height: 400px; width: 100%" ></textarea>
	</div>
	<p><button ng-click="save_template(template)" class="btn btn-success" style="margin-bottom: 10px">Sauver le template</button></p>
</div>
</div>
</div>

