<div id="welcome"><konami name="evolution-simpson.jpg"></konami></div>

<div class="center" id="apps-container" ng-show="applications.length > 0">
    <h2>{{'wellcome.apps.title' | translate}}</h2>
</div>
<div layout="row" class="whiteframeBasicClassUsage" layout-align="center center" >

    <md-whiteframe ng-repeat="app in applications" class="md-whiteframe-1dp" flex="10" layout="" layout-align="center center" ng-click="openApplication(app)">
       <h3>{{app}}</h3>
    </md-whiteframe>

</div>

