<md-dialog flex="30">
    <md-dialog-content>
        <div class="ng-binding">
            <h2>Créer une release</h2>
            <md-content layout-padding class="autoScroll">
                <form name="createReleaseForm" novalidate ng-submit="createReleaseForm.$valid && $close(release_version)">
                    <div layout="row">
                        <md-input-container md-no-float flex>
                            <label><strong>Version de la release</strong></label>
                            <input type="text" required ng-trim="true" ng-model="release_version" md-autofocus="true"
                                   id="release_version" placeholder="Le numéro..."/>
                        </md-input-container>
                        <input type="submit" id="submit" value="Submit" ng-hide="true"/>
                    </div>
                </form>
            </md-content>
        </div>
        <md-dialog-actions>
            <md-button ng-really-message="Etes-vous sûr de vouloir créer la release {{release_version}} ? C'est une opération irreversible !"
                       ng-really-click="$save(release_version)" class="md-raised md-primary" ng-disabled="createReleaseForm.$invalid">Créer</md-button>
            <md-button ng-click="$closeDialog()" class="md-raised md-warn">Annuler</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>