<md-dialog flex="auto">
    <md-dialog-content>
        <div class="ng-binding">
            <h2>Nouveau module (working copy)</h2>
            <md-content layout-padding class="autoScroll">
                <form name="moduleForm" novalidate
                      ng-submit="moduleForm.$valid && create_module(new_module.name, new_module.version)">
                    <md-input-container md-no-float class="md-block">
                        <label ><strong>Nom</strong></label>
                        <input type="text" required ng-trim="true" ng-model="new_module.name" md-autofocus="true"
                               id="moduleName" placeholder="Ce nom correspond à un package de la note de livraison. Par ex. wdiCore-war"/>
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <label><strong>Numéro de version</strong></label>
                        <input type="text" required ng-trim="true" ng-model="new_module.version"
                               id="moduleVersion" placeholder="Le numéro de version correspond à celui du package dans la note de livraison"/>
                    </md-input-container>
                    <input type="submit" id="submit" value="Submit" ng-hide="true"/>
                </form>
            </md-content>
        </div>
        <md-dialog-actions>
            <md-button ng-click="create_module(new_module.name, new_module.version)" class="md-raised md-primary" ng-disabled="moduleForm.$invalid">Créer</md-button>
            <md-button ng-click="closeDialog()" class="md-raised md-warn">Annuler</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>