<div class="modal-header">
    <h3 class="modal-title">Prévisualisation de {{instance.name}}</h3>
</div>
<div class="modal-body">
    <form ng-repeat="item in fileEntries track by $index" role="form">
        <div class="form-group">
            <input type="text" class="form-control" required ng-trim="true" value= "{{item.location}} ( {{item.rights}} )"
                   id="fileLocation" placeholder="Enplacement et droits sur le fichier" ng-disabled="true"
                    data-hint="L'emplacement du template et les droits sur le fichier"/>
        </div>
        <div class="form-group" ng-if ="item.on_error == false">
            <a id="donwload" href = "{{item.url}}" download="{{item.name}}" target="_blank">
                {{item.name}}
            </a>
        </div>
        <div class="form-group" id="templateContentParent" style="padding-top: 10px">
            <label style="width: 100%">Contenu du fichier
                <small class="text-right" style="padding-left: 10px; color: grey;font-weight:normal"><kbd>F11</kbd>
                    Activer / <kbd>Esc</kbd> Desactiver l'edtion en plein ecran
                </small>
            </label>

            <div ng-switch = "item.on_error">
                <div ng-switch-when="true" class="alert alert-danger" style = "background-color:#f2dede;border-color:#eed3d7;color:#b94a48;">
                    <strong>Erreur !</i></strong> {{item.content}}
                </div>

                <ui-codemirror ng-switch-when="false" id="fileContent" ui-codemirror-opts="codeMirrorOptions"
                               ng-model="item.content"></ui-codemirror>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="download_all_instance_files()">Télécharger tous</button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
</div>