<div class="modal-header">
    <h3 class="modal-title">Prévisualisation de {{instance.name}}</h3>
</div>
<div class="modal-body">
    <form ng-repeat="item in fileEntries track by $index" role="form">
        <div class="form-group">
            <input type="text" class="form-control" required ng-trim="true" value= "{{item.location}} ( {{item.rights}} )"
                   id="fileLocation" placeholder="Enplacement et droits sur le fichier" ng-disabled="true"
                    data-hint="L'emplacement du template et les droits sur le fichier"/>
        </div>
        <div class="form-group" ng-if ="item.display_donwload">
            <a id="donwload" href = "{{item.url}}" download="{{item.name}}" target="_blank">
                {{item.name}}
            </a>
        </div>
        <div class="form-group" id="templateContentParent" style="padding-top: 10px">
            <label style="width: 100%">Contenu du fichier
                <small class="text-right" style="padding-left: 10px; color: grey;font-weight:normal"><kbd>F11</kbd>
                    Activer / <kbd>Esc</kbd> Desactiver l'edtion en plein ecran
                </small>
            </label>
            <ui-codemirror id="fileContent" ui-codemirror-opts="codeMirrorOptions"
                           ng-model="item.content"></ui-codemirror>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Annuler</button>
</div>