<md-dialog flex="auto">
    <md-dialog-content>
        <div class="ng-binding">
            <h2>Nouvelle techno (working copy) à partir d'une précédente version</h2>

            <md-content layout-padding class="autoScroll">
                <form name="technoForm" role="form" novalidate class="form-horizontal"
                      ng-submit="technoForm.$valid && create_techno_from(new_techno.name, new_techno.version, technoSearched.name, technoSearched.version, technoSearched.is_working_copy)">
                    <md-input-container md-no-float class="md-block">
                        <label>Nom</label>
                        <input type="text" required ng-trim="true" ng-model="new_techno.name" md-autofocus="true"
                               id="technoName" placeholder="Entrer un nom (tomcat, hadoop, flume, ...)" />
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <label>Numéro de version</label>
                        <input type="text" required ng-trim="true" ng-model="new_techno.version"
                               id="technoVersion" placeholder="Entrer un numero de version"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Rechercher une techno existante...</label>
                        <md-autocomplete
                                required
                                ng-model="technoSearched"
                                md-no-cache="true"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text="ctrl.searchText"
                                md-items="techno in find_technos_by_name(ctrl.searchText)"
                                md-item-text="techno.name"
                                md-selected-item-change="(techno) ? technoSearched = techno : false"
                                md-min-length="0"
                                placeholder="Rechercher une techno existante...">
                            <span md-highlight-text="ctrl.searchText">{{techno.name}} {{techno.version}}</span>
                        </md-autocomplete>
                    </md-input-container>
                    <input type="submit" id="submit" value="Submit" ng-hide="true"/>
                </form>
            </md-content>
        </div>
        <md-dialog-actions>
            <md-button ng-click="create_techno_from(new_techno.name, new_techno.version, technoSearched.name, technoSearched.version, technoSearched.is_working_copy)" class="md-raised md-primary" ng-disabled="technoForm.$invalid">Creer</md-button>
            <md-button ng-click="closeDialog()" class="md-raised md-warn">Annuler</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>