<div class="bg-light">
    <h3 ng-if="size != 'small'">{{title}}</h3>
    <h4 ng-if="size === 'small'">{{title}}</h4>
    <ul class="list-inline" style="padding-left: 20px;">
        <li ng-repeat="item in items track by $index">
            <button ng-click="selfEdit(item)" ng-mouseenter="hover = true" ng-mouseleave="hover = false"
                    class="btn"
                    ng-class="{'btn-info': (!item === selected), 'btn-warning': (item === selected), 'btn-sm': size === 'small'}"
                    >{{selfLabel(item)}}
            </button>
            <button ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-show="hover"
                    ng-really-message="Etes-vous sur de vouloir supprimer '{{selfLabel(item)}}' ?"
                    ng-really-click="selfDelete(item)" class="btn btn-danger"
                    style="margin-left: -3px; padding-left: 2px; padding-right: 2px"><span
                    class="glyphicon glyphicon-trash"></span></button>
        </li>
        <li style="vertical-align: middle">
            <button ng-click="show_input = true;focus_name_input()" ng-hide="show_input" class="btn btn-success" ng-class="{'btn-sm': size === 'small'}">
                <span class="glyphicon glyphicon-plus"></span></button>
            <input ng-if="type != 'search'"
                   id="nameInput" type="text" class="form-control" ng-show="show_input" ng-class="{'input-sm': size === 'small'}"
                   ng-blur="show_input=false; name= ''" ng-model="name" placeholder="Entrer un nom"
                   ng-enter="selfAdd(name); name=''; show_input=false"/>
            <input ng-if="type === 'search'"
                   id="nameInput" type="text" class="form-control" ng-show="show_input" ng-class="{'input-sm': size === 'small'}"
                   ng-blur="show_input=false; searched=''"
                   ng-model="selected" placeholder="Rechercher"
                   typeahead-on-select="selfAddSearched(selected); searched=''; show_input=false"
                   typeahead="typeahead"/>
        </li>
    </ul>
</div>
