<style>
    .text-modifiable {
        color: rgb(4, 158, 96);
    }

    .text-unmodifiable {
        color: rgb(158, 4, 4);
    }

    .text-old {
        color: #9C27B0;
    }
</style>

<h3>Diff entre <span class="text-modifiable">{{application_name}} - {{platform_name}} {{properties_path}}</span>
    et <span class="text-unmodifiable">{{compare_application}} -
    {{compare_platform}} {{compare_path}}</span></h3>

<div layout="row" layout-margin>
    <button class="btn btn-primary btn-raised" ng-click="apply_diff()">
        1/ Pr&eacute;visualiser les changements <span style="font-weight: bold; text-decoration: underline">ne sauvegarde pas</span>
    </button>
    <button class="btn btn-primary btn-raised" ng-really-click="save_diff()" ng-really-message="Les modifications vont &ecirc;tre appliqu&eacute;es sur {{application_name}} - {{platform_name}}. Continuer ?">
        2/ <span style="font-weight: bold; text-decoration: underline">Sauvegarder</span> les changements (il faut avoir previsualis&eacute; avant)
    </button>
</div>

<!-- Seulement à gauche -->
<div layout="column" class="bg-light">
    <div layout="row" layout-align="space-around center">
        <div flex="5">
            <md-button ng-click="toggle0 = !toggle0" class="md-fab md-btn-xs md-primary"
                       aria-label="Deplier/Plier le menu"
                       ng-disabled="(diff_containers | filter:{'status':0}).length < 1">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': !toggle0, 'glyphicon-eye-close': toggle0}"></span>
            </md-button>
        </div>
        <div flex>
            <h3>Seulement sur <span class="text-modifiable">{{application_name}} - {{platform_name}}</span>
                ({{(diff_containers | filter:{'status':0}).length}})</h3>
        </div>
    </div>
    <div layout="column" ng-show="toggle0" style="width: 95%;">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" layout="row" layout-align="end center">
                <div class="col-md-12">
                    <input class="form-control" placeholder="filtrer les properties par clé"
                           ng-model="propertiesKeyFilter0"/>
                </div>
            </div>
            <div flex="56">
            </div>
        </div>
    </div>
    <div vs-repeat style="max-height: 400px; white-space: normal; overflow: auto;" ng-show="toggle0"
         layout-align="start">
        <div layout="column" style="width: 95%;"
             ng-repeat="diff_container in diff_containers0 = (diff_containers | filter:{'status':0, 'property_name': propertiesKeyFilter0} | orderBy:'property_name')">
            <div layout="row" layout-align="center" layout-margin
                 style="margin-bottom: 0;margin-top: 0; width: 100%; max-height: 40px">
                <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
                    <label style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_name}}</label>
                </div>
                <div flex="30" layout="row" layout-align="end center">
                    <span style="overflow: hidden; text-overflow: ellipsis" class="text-modifiable">{{diff_container.property_to_modify.value ? diff_container.property_to_modify.value : "Aucune valeur renseignée"}}</span>
                </div>
                <div flex="5" layout="row" layout-align="space-around center">
                </div>
                <div flex="30" layout="row" layout-align="start center">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Identiques -->
<div layout="column" class="bg-light">
    <div layout="row" layout-align="space-around center">
        <div flex="5">
            <md-button ng-click="toggle1 = !toggle1" class="md-fab md-default md-btn-xs md-primary"
                       aria-label="deplier/Plier le menu"
                       ng-disabled="(diff_containers | filter:{'status': 1}).length < 1">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': !toggle1, 'glyphicon-eye-close': toggle1}"></span>
            </md-button>
        </div>
        <div flex>
            <h3>Identiques sur <span class="text-modifiable">{{application_name}} - {{platform_name}}</span> et <span
                    class="text-unmodifiable">{{compare_application}} -
                {{compare_platform}}</span>
                ({{(diff_containers | filter:{'status': 1}).length}})</h3>
        </div>
    </div>
    <div layout="column" ng-show="toggle1" style="width: 95%;">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" layout="row" layout-align="end center">
                <div class="togglebutton">
                    <label style="vertical-align: text-bottom">
                        <input type="checkbox" id="copyProperties" ng-model="show_only_modified"/>
                        <span>Ne montrer que les valeurs qui viennent d'&ecirc;tre modifi&eacute;es</span></input>
                    </label>
                </div>
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <span class="text-modifiable">{{application_name}} - {{platform_name}} (destination => modifiable)</span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
            </div>
            <div flex="30" layout="row" layout-align="start center">
                <span class="text-unmodifiable">{{compare_application}} - {{compare_platform}} (source => non modifiable)</span>
            </div>
        </div>
    </div>
    <div layout="column" ng-show="toggle1" style="width: 95%;">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" layout="row" layout-align="end center">
                <div class="col-md-12">
                <input class="form-control" placeholder="filtrer les properties par clé"
                       ng-model="propertiesKeyFilter1"/>
                    </div>
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <span>Selectionner les reports à annuler <span class="glyphicon glyphicon-stop text-old"></span> =====> <span
                        class="glyphicon glyphicon-stop text-modifiable"></span></span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
                <md-checkbox aria-label="Selectionner toutes les valeurs" ng-model="toggle_ident"
                             ng-click="toggle_selected_to_containers_with_filter({'status':1, 'modified': true}, !toggle_ident)">
                </md-checkbox>
            </div>
            <div flex="30" layout="row" layout-align="start center">
                Tous
            </div>
        </div>
    </div>
    <md-divider ng-show="toggle1"></md-divider>
    <div vs-repeat style="max-height: 400px; white-space: normal; overflow: auto;" ng-show="toggle1"
         layout-align="start">
        <div layout="column" style="width: 95%;" ng-class="{'bg-warning': diff_container.modified}"
             ng-repeat="diff_container in diff_containers1 = (diff_containers | filter:{'status':1, 'modified': show_only_modified, 'property_name': propertiesKeyFilter1}  | orderBy:'property_name')">
            <div layout="row" layout-align="center" layout-margin
                 style="margin-bottom: 0;margin-top: 0; width: 100%; max-height: 40px"
                 id="identical-row-{{dot_to_underscore(diff_container.property_name)}}">
                <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
                    <label style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_name}}</label>
                </div>
                <div flex="30" layout="row" layout-align="end center">
                <span id="old_value-{{dot_to_underscore(diff_container.property_name)}}" flex="30"
                      class="text-old"
                      style="overflow: hidden; text-overflow: ellipsis; margin-right: 20px;text-decoration: line-through; text-align: right"
                      ng-show="diff_container.modified">{{diff_container.property_to_modify.old_value ? diff_container.property_to_modify.old_value : "Aucune valeur renseignée"}}</span>
                <span id="actual_value-{{dot_to_underscore(diff_container.property_name)}}" flex="60"
                      class="text-modifiable"
                      style="overflow: hidden; text-overflow: ellipsis; text-align: right"
                      popover="{{diff_container.property_to_modify.value}}" popover-trigger="mouseenter">{{diff_container.property_to_modify.value ? diff_container.property_to_modify.value : "Aucune valeur renseignée"}}</span>
                </div>
                <div flex="5" layout="row" layout-align="space-around center">
                    <span class="glyphicon glyphicon-ok" ng-hide="diff_container.modified"></span>
                    <md-checkbox aria-label="Reporter la valeur" ng-model="diff_container.selected"
                                 ng-show="diff_container.modified">
                    </md-checkbox>
                </div>
                <div flex="30" layout="row" layout-align="start center">
            <span style="overflow: hidden; text-overflow: ellipsis" class="text-unmodifiable"
                  popover="{{diff_container.property_to_compare_to.value}}" popover-trigger="mouseenter">{{diff_container.property_to_compare_to.value ? diff_container.property_to_compare_to.value : "Aucune valeur renseignée"}}</span>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
    </div>
</div>

<!-- Diff -->
<div layout="column" class="bg-light">
    <div layout="row" layout-align="space-around center">
        <div flex="5">
            <md-button ng-click="toggle2 = !toggle2" class="md-fab md-btn-xs" aria-label="Deplier/Plier le menu"
                       ng-disabled="(diff_containers | filter:{'status':2}).length < 1">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': !toggle2, 'glyphicon-eye-close': toggle2}"></span>
            </md-button>
        </div>
        <div flex>
            <h3>Différents sur <span class="text-modifiable">{{application_name}} - {{platform_name}}</span> et <span
                    class="text-unmodifiable">{{compare_application}} -
                {{compare_platform}}</span>
                ({{(diff_containers | filter:{'status':2}).length}})</h3>
        </div>
    </div>
    <div layout="column" ng-show="toggle2" style="width: 95%;">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" layout="row">
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <span class="text-modifiable">{{application_name}} - {{platform_name}} (destination => modifiable)</span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
            </div>
            <div flex="30" layout="row" layout-align="start center">
                <span class="text-unmodifiable">{{compare_application}} - {{compare_platform}} (source => non modifiable)</span>
            </div>
        </div>
    </div>
    <div layout="column" ng-show="toggle2" style="width: 95%;">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" layout="row" layout-align="end center">
                <div class="col-md-12">
                <input class="form-control" placeholder="filtrer les properties par clé"
                       ng-model="propertiesKeyFilter2"/>
                    </div>
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <span>Selectionner les valeurs à reporter <span
                        class="glyphicon glyphicon-stop text-unmodifiable"></span> =====> <span
                        class="glyphicon glyphicon-stop text-modifiable"></span></span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
                <md-checkbox aria-label="Selectionner toutes les valeurs" ng-model="toggle_diff"
                             ng-click="toggle_selected_to_containers_with_filter({'status': 2}, !toggle_diff)">
                </md-checkbox>
            </div>
            <div flex="30" layout="row" layout-align="start center">
                <span>Tous</span>
            </div>
        </div>
    </div>
    <md-divider ng-show="toggle2"></md-divider>
    <div vs-repeat style="max-height: 400px; white-space: normal; overflow: auto;" ng-show="toggle2"
         layout-align="start">
        <div layout="column" style="width: 95%;"
             ng-repeat="diff_container in diff_containers2 = (diff_containers | filter:{'status':2, 'property_name': propertiesKeyFilter2}  | orderBy:'property_name')">
            <div layout="row" layout-align="center" layout-margin
                 style="margin-bottom: 0;margin-top: 0; width: 100%; max-height: 40px"
                 id="different-row-{{dot_to_underscore(diff_container.property_name)}}">
                <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
                    <label style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_name}}</label>
                </div>
                <div flex="30" layout="row" layout-align="end center">
            <span style="overflow: hidden; text-overflow: ellipsis" class="text-modifiable"
                  id="value_to_replace-{{dot_to_underscore(diff_container.property_name)}}"
                  popover="{{diff_container.property_to_modify.value}}" popover-trigger="mouseenter">{{diff_container.property_to_modify.value ? diff_container.property_to_modify.value : "Aucune valeur renseignée"}}</span>
                </div>
                <div flex="5" layout="row" layout-align="space-around center">
                    <md-checkbox aria-label="Reporter la valeur" ng-model="diff_container.selected">
                    </md-checkbox>
                </div>
                <div flex="30" layout="row" layout-align="start center">
            <span style="overflow: hidden; text-overflow: ellipsis" class="text-unmodifiable"
                  id="value_to_use-{{dot_to_underscore(diff_container.property_name)}}"
                  popover="{{diff_container.property_to_compare_to.value}}" popover-trigger="mouseenter">{{diff_container.property_to_compare_to.value ? diff_container.property_to_compare_to.value : "Aucune valeur renseignée"}}</span>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
    </div>
</div>

<!-- Seulement à droite -->
<div layout="column" class="bg-light">
    <div layout="row" layout-align="space-around center">
        <div flex="5">
            <md-button ng-click="toggle3 = !toggle3" class="md-fab md-btn-xs" aria-label="Deplier/Plier le menu"
                       ng-disabled="(diff_containers | filter:{'status':3}).length < 1">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': !toggle3, 'glyphicon-eye-close': toggle3}"></span>
            </md-button>
        </div>
        <div flex>
            <h3>Seulement sur <span class="text-unmodifiable">{{compare_application}} - {{compare_platform}}</span>
                ({{(diff_containers | filter:{'status':3}).length}})</h3>
        </div>
    </div>
    <div layout="column" ng-show="toggle3" style="width: 95%;">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <span class="text-modifiable">{{application_name}} - {{platform_name}} (destination => modifiable)</span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
            </div>
            <div flex="30" layout="row" layout-align="start center">
                <span class="text-unmodifiable">{{compare_application}} - {{compare_platform}} (source => non modifiable)</span>
            </div>
        </div>
    </div>
    <div layout="column" ng-show="toggle3" style="width: 95%;">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" layout="row" layout-align="end center">
                <div class="col-md-12">
                    <input class="form-control" placeholder="filtrer les properties par clé"
                           ng-model="propertiesKeyFilter3"/>
                </div>
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <span>Selectionner les valeurs à reporter <span
                        class="glyphicon glyphicon-stop text-unmodifiable"></span> =====> <span
                        class="glyphicon glyphicon-stop text-modifiable"></span></span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
                <md-checkbox aria-label="Selectionner toutes les valeurs" ng-model="toggle_right"
                             ng-click="toggle_selected_to_containers_with_filter({'status': 3}, !toggle_right)">
                </md-checkbox>
            </div>
            <div flex="30" layout="row" layout-align="start center">
                <span>Tous</span>
            </div>
        </div>
    </div>
    <md-divider ng-show="toggle3"></md-divider>
    <div layout="row" vs-repeat style="max-height: 400px; white-space: normal; overflow: auto;" ng-show="toggle3"
         layout-align="start">
        <div layout="column" style="width: 95%;"
             ng-repeat="diff_container in diff_containers3 = (diff_containers | filter:{'status':3, 'property_name': propertiesKeyFilter3}  | orderBy:'property_name')">
            <div layout="row" layout-align="center" layout-margin
                 style="margin-bottom: 0;margin-top: 0; max-height: 40px; width: 100%;"
                 id="different-row-{{dot_to_underscore(diff_container.property_name)}}">
                <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
                    <label style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_name}}</label>
                </div>
                <div flex="30" layout="row" layout-align="end center">
            <span style="overflow: hidden; text-overflow: ellipsis" class="text-modifiable"
                  id="value_to_replace-{{dot_to_underscore(diff_container.property_name)}}"
                    >{{diff_container.property_to_modify.value ? diff_container.property_to_modify.value : "Aucune valeur renseignée"}}</span>
                </div>
                <div flex="5" layout="row" layout-align="space-around center">
                    <md-checkbox aria-label="Reporter la valeur" ng-model="diff_container.selected">
                    </md-checkbox>
                </div>
                <div flex="30" layout="row" layout-align="start center">
            <span style="overflow: hidden; text-overflow: ellipsis" class="text-unmodifiable"
                  id="value_to_use-{{dot_to_underscore(diff_container.property_name)}}"
                  popover="{{diff_container.property_to_compare_to.value}}" popover-trigger="mouseenter">{{diff_container.property_to_compare_to.value ? diff_container.property_to_compare_to.value : "Aucune valeur renseignée"}}</span>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
    </div>
</div>


<div layout="row" layout-margin>
    <button class="btn btn-primary btn-raised" ng-click="apply_diff()">
        1/ Pr&eacute;visualiser les changements <span style="font-weight: bold; text-decoration: underline">ne sauvegarde pas</span>
    </button>
    <button class="btn btn-primary btn-raised" ng-really-click="save_diff()" ng-really-message="Les modifications vont &ecirc;tre appliqu&eacute;es sur {{application_name}} - {{platform_name}}. Continuer ?">
        2/ <span style="font-weight: bold; text-decoration: underline">Sauvegarder</span> les changements (il faut avoir previsualis&eacute; avant)
    </button>
</div>

