<h3>Diff entre {{application_name}} - {{platform_name}} {{properties_path}} et {{compare_application}} -
    {{compare_platform}} {{compare_path}}</h3>

<div layout="row" layout-margin>
    <button class="btn btn-primary btn-raised" ng-click="validate_diff()">
        Valider le diff
    </button>
</div>

<!-- Seulement à gauche -->
<div layout="column" class="bg-light">
    <div layout="row" layout-align="space-around center">
        <div flex="5">
            <md-button ng-click="toggle0 = !toggle0" class="md-fab md-btn-xs md-primary"
                       aria-label="Deplier/Plier le menu"
                       ng-disabled="diff_containers0.length < 1">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': !toggle0, 'glyphicon-eye-close': toggle0}"></span>
            </md-button>
        </div>
        <div flex>
            <h3>Seulement sur {{application_name}} - {{platform_name}} ({{diff_containers0.length}})</h3>
        </div>
    </div>
    <div layout="column" ng-show="toggle0"
         ng-repeat="diff_container in diff_containers0 = (diff_containers | filter:{'status':'0'} | orderBy:'property_to_modify.name')">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
                <label style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_to_modify.name}}</label>
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <span style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_to_modify.value ? diff_container.property_to_modify.value : "Aucune valeur renseignée"}}</span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
            </div>
            <div flex="30" layout="row" layout-align="start center">
            </div>
        </div>
    </div>
</div>

<!-- Identiques -->
<div layout="column" class="bg-light">
    <div layout="row" layout-align="space-around center">
        <div flex="5">
            <md-button ng-click="toggle1 = !toggle1" class="md-fab md-default md-btn-xs md-primary"
                       aria-label="deplier/Plier le menu"
                       ng-disabled="diff_containers1.length < 1">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': !toggle1, 'glyphicon-eye-close': toggle1}"></span>
            </md-button>
        </div>
        <div flex>
            <h3>Identiques sur {{application_name}} - {{platform_name}} et {{compare_application}} -
                {{compare_platform}}
                ({{diff_containers1.length}})</h3>
        </div>
    </div>
    <div layout="column" ng-show="toggle1">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" layout="row" layout-align="end center">
                <div class="togglebutton">
                    <label>
                        <input type="checkbox" id="copyProperties" ng-model="show_only_modified" ng-change="change_identical_values_filter()"/>Ne montrer que les valeurs qui viennent d'être modifiées
                    </label>
                </div>
            </div>
            <div flex="30" layout="row" layout-align="end center">
                Destination {{application_name}} - {{platform_name}} (modifiable)
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
            </div>
            <div flex="30" layout="row" layout-align="start center">
                Source {{compare_application}} - {{compare_platform}} (non modifiable)
            </div>
        </div>
    </div>
    <div layout="column" ng-show="toggle1" ng-class="{'bg-warning': diff_container.modified}"
         ng-repeat="diff_container in diff_containers1 = (diff_containers | filter:identical_values_filter  | orderBy:'property_to_modify.name')">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0"
             id="identical-row-{{dot_to_underscore(diff_container.property_to_modify.name)}}">
            <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
                <label style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_to_modify.name}}</label>
            </div>
            <div flex="30" layout="row" layout-align="end center">
                <span id="old_value-{{dot_to_underscore(diff_container.property_to_modify.name)}}" flex="30"
                      style="overflow: hidden; text-overflow: ellipsis; margin-right: 20px;text-decoration: line-through; "
                      ng-show="diff_container.modified">{{diff_container.property_to_modify.old_value ? diff_container.property_to_modify.old_value : "Aucune valeur renseignée"}}</span>
                <span id="actual_value-{{dot_to_underscore(diff_container.property_to_modify.name)}}" flex="60"
                      style="overflow: hidden; text-overflow: ellipsis"
                      popover="{{diff_container.property_to_modify.value}}" popover-trigger="mouseenter">{{diff_container.property_to_modify.value ? diff_container.property_to_modify.value : "Aucune valeur renseignée"}}</span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
                <span class="glyphicon glyphicon-ok" ng-hide="diff_container.modified"></span>
                <md-button aria-label="Annuler le diff" ng-show="diff_container.modified"
                           ng-click="undo_diff(diff_container)">
                    <span class="glyphicon  glyphicon-remove"></span>
                </md-button>
            </div>
            <div flex="30" layout="row" layout-align="start center">
            <span style="overflow: hidden; text-overflow: ellipsis"
                  popover="{{diff_container.property_to_compare_to.value}}" popover-trigger="mouseenter">{{diff_container.property_to_compare_to.value ? diff_container.property_to_compare_to.value : "Aucune valeur renseignée"}}</span>
            </div>
        </div>
        <md-divider></md-divider>
    </div>
</div>

<!-- Diff -->
<div layout="column" class="bg-light">
    <div layout="row" layout-align="space-around center">
        <div flex="5">
            <md-button ng-click="toggle2 = !toggle2" class="md-fab md-btn-xs" aria-label="Deplier/Plier le menu"
                       ng-disabled="diff_containers2.length < 1">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': !toggle2, 'glyphicon-eye-close': toggle2}"></span>
            </md-button>
        </div>
        <div flex>
            <h3>Différents sur {{application_name}} - {{platform_name}} et {{compare_application}} -
                {{compare_platform}}
                ({{diff_containers2.length}})</h3>
        </div>
    </div>
    <div layout="column" ng-show="toggle2">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" layout="row" >
            </div>
            <div flex="30" layout="row" layout-align="end center">
                Destination {{application_name}} - {{platform_name}} (modifiable)
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
            </div>
            <div flex="30" layout="row" layout-align="start center">
                Source {{compare_application}} - {{compare_platform}} (non modifiable)
            </div>
        </div>
    </div>
    <div layout="column" ng-show="toggle2"
         ng-repeat="diff_container in diff_containers2 = (diff_containers | filter:{'status':'2'}  | orderBy:'property_to_modify.name')">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0"
             id="different-row-{{dot_to_underscore(diff_container.property_to_modify.name)}}">
            <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
                <label style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_to_compare_to.name}}</label>
            </div>
            <div flex="30" layout="row" layout-align="end center">
            <span style="overflow: hidden; text-overflow: ellipsis"
                  id="value_to_replace-{{dot_to_underscore(diff_container.property_to_compare_to.name)}}"
                  popover="{{diff_container.property_to_modify.value}}" popover-trigger="mouseenter">{{diff_container.property_to_modify.value ? diff_container.property_to_modify.value : "Aucune valeur renseignée"}}</span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
                <md-button aria-label="Reporter la valeur"
                           ng-click="replace_property(diff_container)">
                    <span class="glyphicon  glyphicon-arrow-left"></span>
                </md-button>
            </div>
            <div flex="30" layout="row" layout-align="start center">
            <span style="overflow: hidden; text-overflow: ellipsis" class="text-muted"
                  id="value_to_use-{{dot_to_underscore(diff_container.property_to_compare_to.name)}}"
                  popover="{{diff_container.property_to_compare_to.value}}" popover-trigger="mouseenter">{{diff_container.property_to_compare_to.value ? diff_container.property_to_compare_to.value : "Aucune valeur renseignée"}}</span>
            </div>
        </div>
        <md-divider></md-divider>
    </div>
</div>

<!-- Seulement à droite -->
<div layout="column" class="bg-light">
    <div layout="row" layout-align="space-around center">
        <div flex="5">
            <md-button ng-click="toggle3 = !toggle3" class="md-fab md-btn-xs" aria-label="Deplier/Plier le menu"
                       ng-disabled="diff_containers3.length < 1">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': !toggle3, 'glyphicon-eye-close': toggle3}"></span>
            </md-button>
        </div>
        <div flex>
            <h3>Seulement sur {{compare_application}} - {{compare_platform}}
                ({{diff_containers3.length}})</h3>
        </div>
    </div>
    <div layout="column" ng-show="toggle3">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0">
            <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
            </div>
            <div flex="30" layout="row" layout-align="end center">
                Destination {{application_name}} - {{platform_name}} (modifiable)
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
            </div>
            <div flex="30" layout="row" layout-align="start center">
                Source {{compare_application}} - {{compare_platform}} (non modifiable)
            </div>
        </div>
    </div>
    <div layout="column" ng-show="toggle3"
         ng-repeat="diff_container in diff_containers3 = (diff_containers | filter:{'status':'3'}  | orderBy:'property_to_compare_to.name')">
        <div layout="row" layout-align="center" layout-margin style="margin-bottom: 0;margin-top: 0"
             id="different-row-{{dot_to_underscore(diff_container.property_to_compare_to.name)}}">
            <div flex="35" style="overflow: hidden; text-overflow: ellipsis" layout="row" layout-align="end center">
                <label style="overflow: hidden; text-overflow: ellipsis">{{diff_container.property_to_compare_to.name}}</label>
            </div>
            <div flex="30" layout="row" layout-align="end center">
            <span style="overflow: hidden; text-overflow: ellipsis"
                  id="value_to_replace-{{dot_to_underscore(diff_container.property_to_compare_to.name)}}"
                    >{{diff_container.property_to_modify.value ? diff_container.property_to_modify.value : "Aucune valeur renseignée"}}</span>
            </div>
            <div flex="5" layout="row" layout-align="space-around center">
                <md-button aria-label="Reporter la valeur"
                           ng-click="replace_property(diff_container)">
                    <span class="glyphicon  glyphicon-arrow-left"></span>
                </md-button>
            </div>
            <div flex="30" layout="row" layout-align="start center">
            <span style="overflow: hidden; text-overflow: ellipsis" class="text-muted"
                  id="value_to_use-{{dot_to_underscore(diff_container.property_to_compare_to.name)}}"
                  popover="{{diff_container.property_to_compare_to.value}}" popover-trigger="mouseenter">{{diff_container.property_to_compare_to.value ? diff_container.property_to_compare_to.value : "Aucune valeur renseignée"}}</span>
            </div>
        </div>
        <md-divider></md-divider>
    </div>
</div>


<div layout="row" layout-margin>
    <button class="btn btn-primary btn-raised" ng-click="validate_diff()">
        Valider le diff
    </button>
</div>

