<md-dialog flex="auto">
    <md-dialog-content>
        <div class="ng-binding">
            <h2>Nouvelle plateforme</h2>

            <md-content layout-padding class="autoScroll">
                <form name="platformForm"
                      ng-submit="platformForm.$valid && create_platform_from(new_platform.application_name, new_platform.platform_name, new_platform.production, new_platform.application_version, new_platform.from_application, new_platform.from_platform, new_platform.copyInstances)">
                    <md-input-container md-no-float md-autofocus="true" class="md-block">
                        <label><strong>Trigramme applicatif</strong></label>
                        <input type="text" required ng-trim="true"
                               ng-model="new_platform.application_name"
                               placeholder="Par ex. VSL, EPM, ACW …)"
                               id="platformApplication"
                               md-autofocus="true"
                                />
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <label><strong>Nom de la plateforme</strong></label>
                        <input type="text" required ng-trim="true"
                               ng-model="new_platform.platform_name"
                               id="platformName"
                               placeholder="Par ex. USN1, REC2, PRD3 …"/>
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <label><strong>Version de l'application sur cette plateforme</strong></label>
                        <input type="text" required ng-trim="true"
                               ng-model="new_platform.application_version"
                               id="platformApplicationVersion"
                               placeholder="Cette information est purement indicative et pourra être changée par la suite"/>
                    </md-input-container>
                    <md-switch class="md-primary" ng-model="new_platform.production" aria-label="Plateforme production" class="md-block">
                        Est-ce une plateforme de production ?
                    </md-switch>
                    <md-switch class="md-primary" ng-model="new_platform.copyInstances" aria-label="Plateforme production" class="md-block">
                        Copier les instances ?
                    </md-switch>
                    <md-input-container md-no-float class="md-block">
                        <md-autocomplete
                                required
                                ng-trim="true"
                                ng-model="new_platform.from_application"
                                md-no-cache="true"
                                md-selected-item="ctrl.selectedItem1"
                                md-search-text="ctrl.searchText1"
                                md-items="application in find_applications_by_name(ctrl.searchText1)"
                                md-item-text="application.name"
                                md-selected-item-change="(application) ? new_platform.from_application = application.name : false"
                                md-min-length="0"
                                md-autoselect="true"
                                placeholder="Nom de l'application source">
                            <span md-highlight-text="ctrl.searchText1">{{application.name}}</span>
                        </md-autocomplete>
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <md-autocomplete
                                required
                                ng-trim="true"
                                ng-model="new_platform.from_platform"
                                md-no-cache="true"
                                md-selected-item="ctrl.selectedItem2"
                                md-search-text="ctrl.searchText2"
                                md-items="platform in find_platforms_of_application(ctrl.searchText1, ctrl.searchText2)"
                                md-item-text="platform.name"
                                md-selected-item-change="(platform) ? new_platform.from_platform = platform.name : false"
                                md-min-length="0"
                                md-autoselect="true"
                                placeholder="Rechercher une plateforme existante, par nom et numéro de version...">
                            <span md-highlight-text="ctrl.searchText2">{{platform.name}}</span>
                        </md-autocomplete>
                    </md-input-container>

                    <input type="submit" id="submit" value="Submit" ng-hide="true"/>
                </form>
            </md-content>
        </div>
        <md-dialog-actions>
            <md-button ng-click="create_platform_from(new_platform.application_name, new_platform.platform_name, new_platform.production, new_platform.application_version, new_platform.from_application, new_platform.from_platform, new_platform.copyInstances)" ng-disabled="platformForm.$invalid" class="md-raised md-primary">Créer</md-button>
            <md-button ng-click="closeDialog()" class="md-raised md-warn">Annuler</md-button>
        </md-dialog-actions>
    </md-dialog-content>
</md-dialog>