    <div layout="column">
        <div layout="row">
            <div flex="none"><toggle-deleted-properties key-value-properties="properties.key_value_properties" toggle="displayDeletedProperties"></toggle-deleted-properties></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div flex><toggle-unspecified-properties key-value-properties="properties.key_value_properties" toggle="displayUnspecified"></toggle-unspecified-properties></div>
        </div>
        <div>
          <md-button id="sortModulePropertiesButton" ng-click="properties.switchOrder()"
                  class="md-raised">
              <span>Tri par nom de property</span>
              <span class="fa" data-ng-class="{'fa-sort-alpha-desc': !properties.isReverseOrder(), 'fa-sort-alpha-asc': properties.isReverseOrder()}"></span>
          </md-button>
        </div>
        <div layout="row">
            <div flex="33">
                <md-input-container class="md-block">
                    <label>Filtrer les properties par clef</label>
                    <input type="text" ng-trim="true" ng-model="propertiesKeyFilter" aria-label="Filtrer les properties par clef" />
                </md-input-container>
            </div>
            <div flex="100">
                <md-input-container class="md-block">
                    <label>Filtrer les properties par valeur (les valeurs modifiées ne seront filtrables que suite &agrave; une sauvegarde)</label>
                    <input type="text" ng-trim="true" ng-model="propertiesValueFilter" aria-label="Filtrer les properties par valeur (les valeurs modifiées ne seront filtrables que suite &agrave; une sauvegarde)" />
                </md-input-container>
            </div>
        </div>

        <!-- Warning ! We need vs-repeat to have reactive UI -->
        <div vs-repeat style="max-height: 450px; overflow: auto" layout="row">
            <div layout="row" ng-repeat="key_value_property in properties.key_value_properties | hideHesperidesPredefinedProperties | displayUnspecifiedProperties:displayUnspecified | filterProperties:{'name':propertiesKeyFilter, 'filtrable_value':propertiesValueFilter} | displayProperties:displayDeletedProperties | orderBy:'name':properties.isReverseOrder() track by $index"
                style="width: 100%">
                <!-- flex is 25 not 33 cause vs-repeat have strange behaviour -->
                <div flex="25">
                    <md-input-container class="property-label" ng-class="{'text-stroke':!key_value_property.inModel}">
                        <input type="text" ng-trim="true" ng-model="key_value_property.name" aria-label="{{ key_value_property.name }}" ng-readonly="true" class="property-label" /> <span ng-show="key_value_property.required" class="property-required">*</span>
                        <md-tooltip md-direction="top">
                            {{key_value_property.name}}
                        </md-tooltip>
                    </md-input-container>
                </div>

                <div flex>
                    <md-input-container
                            class="md-block "
                            ng_if="!key_value_property.inGlobal"
                            ng-class="{'property-using-global': key_value_property.useGlobal}"
                            ng-required="key_value_property.required"
                            >
                        <label ng-if="!(key_value_property.value)">{{key_value_property.defaultValue ? '[default=' + key_value_property.defaultValue + '] ' : ''}} {{key_value_property.comment}}</label>
                        <input type="text" ng-trim="true" ng-model="key_value_property.value" ng-readonly="!key_value_property.inModel"
                               aria-label="Valeur de la property {{key_value_property.name}}"
                               ng-class="{'text-stroke':!key_value_property.inModel, 'default-value-color': key_value_property.defaultValue && !key_value_property.value}"
                               />
                        <md-tooltip ng-if="key_value_property.comment || key_value_property.defaultValue">{{key_value_property.defaultValue ? '[default=' + key_value_property.defaultValue + '] ' : ''}} {{key_value_property.comment}}</md-tooltip>
                    </md-input-container>

                    <!-- Edit layout, but this key is filled by global properties -->
                    <md-input-container
                            class="md-block"
                            ng_if="key_value_property.inGlobal"
                            >
                        <input type="text" ng-model="key_value_property.value" ng-readonly="true" aria-label="Ancienne property" class="property-global" />

                        <md-tooltip md-direction="right">
                            Valeur automatiquement valorisée <br/>par la variable globale du même nom.<br/>Pour la modifier, changez son nom dans le template <br/>ou éditez la variable globale.
                        </md-tooltip>

                    </md-input-container>
                </div>
            </div>
        </div>
    </div>

<h3 ng-show="properties.iterable_properties.length > 0">Proprietes multiples :</h3>
<dl class="dl-horizontal text-overflow" style="margin-bottom:0" ng-repeat="iterable_property in properties.iterable_properties | orderBy:'name' track by $index">
    <dt>{{ iterable_property.name }}</dt>
    <dd ng-repeat="field in iterable_property.fields | orderBy:'name' track by $index">{{ field.name }}<small style="padding-left: 10px;"><em>{{ field.comment }}</em></small></dd>
</dl>
