<accordion close-others = "true">
    <!-- Simple properties group -->
    <accordion-group heading="Properties simples" is-open="false">
        <form class="form-horizontal narrow" role="form" editable-form>
            <div class="form-group">
                <div class="col-md-12">

                    <toggle-deleted-properties key-value-properties="properties.key_value_properties" toggle="displayDeletedProperties"></toggle-deleted-properties>
                    <toggle-unspecified-properties key-value-properties="properties.key_value_properties" display = "displayUnspecified"></toggle-unspecified-properties>
                </div>

                <div class="col-md-12">
                    <button id="sortModulePropertiesButton" ng-click="properties.switchOrder()"
                            class="btn btn-warn btn-raised">
                        <span>Tri par nom de property</span>
                    <span class="glyphicon"
                          data-ng-class="{'glyphicon-sort-by-alphabet-alt': !properties.isReverseOrder(), 'glyphicon-sort-by-alphabet': properties.isReverseOrder()}"
                          style="padding-left:10px"></span>
                    </button>
                </div>
                <div class="col-md-4">
                    <input class="form-control" placeholder="filtrer les properties par clé" ng-model="propertiesKeyFilter"/>
                </div>
                <div class="col-md-8">
                    <input class="form-control"
                           placeholder="filtrer les properties par valeur (les valeurs modifiées ne seront filtrables que suite &agrave; une sauvegarde)"
                           ng-model="propertiesValueFilter"/>
                </div>
            </div>

            <div vs-repeat style="max-height: 450px; overflow: auto" id="list-of-properties">
                <div class="form-group" style="width: 100%" ng-class="{'property-not-used': !key_value_property.inModel}" ng-repeat="key_value_property in properties.key_value_properties | filterProperties:{'name':propertiesKeyFilter, 'filtrable_value':propertiesValueFilter} | displayProperties:displayDeletedProperties |  displayUnspecifiedProperties:displayUnspecified | orderBy:'name':properties.isReverseOrder() track by $index">
                    <label style="text-align: right; overflow: hidden; text-overflow: ellipsis" title="{{ key_value_property.name }}" for="input-{{ key_value_property.name }}" class="col-md-4 control-label">{{ key_value_property.name }}<span ng-show="key_value_property.required" style="color:red"> *</span></label>
                    <!-- Edit layout, and this key is not filled by global properties -->
                    <div class="col-md-8" ng_if="!key_value_property.inGlobal">
                        <input id="input-{{ key_value_property.name }}"
                               type="text" class="form-control default-value-color"
                               ng-class="{'property-using-global': key_value_property.useGlobal}"
                               placeholder="{{key_value_property.defaultValue ? '[default=' + key_value_property.defaultValue + '] ' : ''}}{{key_value_property.comment}}"
                               ng-model="key_value_property.value" tooltip="{{key_value_property.comment}}"
                               tooltip-trigger="focus"
                               ng-required="key_value_property.required"
                               tooltip-placement="top" />
                    </div>
                    <!-- Edit layout, but this key is filled by global properties -->
                    <div class="col-md-8" ng_if="key_value_property.inGlobal">
                        <label id="view-{{ key_value_property.name }}" class="control-label">{{key_value_property.value}}
                            <md-tooltip md-direction="right">
                                Valeur automatiquement valorisée <br/>par la variable globale du même nom.<br/>Pour la modifier,
                                changez son nom dans le template <br/>ou éditez la variable globale.
                            </md-tooltip>
                        </label>
                    </div>
                </div>

            </div>
        </form>
    </accordion-group>

    <!--
        Iterable properties group
        This group is disabled when not iterable property exists
    -->
    <accordion-group heading="Properties itérables" is-open="false" is-disabled = "properties.iterable_properties.length == 0">
        <form class="form-horizontal narrow" role="form" editable-form>
            <div class="form-group">

                <!-- TODO ajout des boutons permettant l'ajout de properties iterables -->
                <!--<div class="col-md-12">
                    <add-iterable-property
                            ng-repeat="iterable_property in properties.iterable_properties | orderBy:'name' track by $index"
                            class="btn btn-warn btn-raised">
                        <span>{{ iterable_property.name }}</span>
                        <span class="glyphicon" data-ng-class="{'glyphicon-sort-by-alphabet-alt': !properties.isReverseOrder(), 'glyphicon-sort-by-alphabet': properties.isReverseOrder()}" style="padding-left:10px"></span>
                    </add-iterable-property>
                </div>-->

            </div>

            <div vs-repeat style="max-height: 450px; overflow: auto" id="list-of-iterable-properties">

                <div class="form-group" style="width: 100%" ng-class="{'property-not-used': !iterable_property.inModel}"
                     ng-repeat="iterable_property in properties.iterable_properties track by $index">

                    <!-- Show the iterable properties -->
                    <display-iterable-property></display-iterable-property>

                    <!-- The level one of iterable props -->
                    <script type="text/ng-template" id="properties/iterate.html">

                        <ul style="display: inline-block; list-style: none; padding-top:10px; padding-bottom:10px;padding-left: 10px;">

                            <li class="jumbotron instance" style="margin-top:10px; margin-bottom:15px;margin-left: 20px;">
                                <span style = "text-transform: uppercase; margin-bottom : 25px;"><strong>{{ iterable_property.name }}</strong></span>

                                <!-- Display each valorisation -->
                                <div ng-repeat="items in iterable_property.iterable_valorisation_items | orderBy:'name' track by $index">
                                    <div ng-repeat="field in items.values | orderBy:'name' track by $index">
                                        {{field.name}}
                                        <ul class="list-inline dl-horizontal text-overflow" style="margin-bottom:0"
                                            ng-if="field.iterable_valorisation_items"
                                            ng-repeat="iterable_property in field.iterable_valorisation_items | orderBy:'name' track by $index"
                                            ng-include="'properties/iterate2.html'">
                                        </ul>

                                        <div ng-if="!field.iterable_valorisation_items">
                                            <label class = "form-label" style="text-align: right; overflow: hidden; text-overflow: ellipsis" title="{{ field.name }}" for="input-iterable2-{{ field.name }}" class="col-md-4 control-label">
                                                {{ field.name }}<span ng-show="key_value_property.required" style="color:red">*</span>
                                            </label>

                                            <input id="input-iterable-{{ field.name }}"
                                                   type="text" class="form-control default-value-color"
                                                   placeholder="{{field.defaultValue ? '[default=' + field.defaultValue + '] ' : ''}}{{field.comment}}"
                                                   ng-model="field.value" tooltip="{{field.comment}}"
                                                   tooltip-trigger="focus"
                                                   ng-required="field.required"
                                                   tooltip-placement="top" />

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </script>

                    <!-- The level two of iterable props -->
                    <script type="text/ng-template" id="properties/iterate2.html">
                        <li class="jumbotron instance" >
                            <!--<span style = "text-transform: uppercase; padding-bottom : 15px;"><strong>{{ iterable_property.title }}</strong></span>-->
                            <!-- Display each valorisation -->
                            <div ng-repeat="field in iterable_property.values | orderBy:'name' track by $index">

                                <ul class="list-inline dl-horizontal text-overflow" style="margin-bottom:0"
                                    ng-if="field.iterable_valorisation_items"
                                    ng-repeat="iterable_property in field.iterable_valorisation_items | orderBy:'name' track by $index"
                                    ng-include="'properties/iterate2.html'">
                                </ul>

                                <div ng-if="!field.iterable_valorisation_items">
                                    <label class = "form-label" style="text-align: right; overflow: hidden; text-overflow: ellipsis" title="{{ field.name }}" for="input-iterable2-{{ field.name }}" class="col-md-4 control-label">
                                        {{ field.name }}<span ng-show="key_value_property.required" style="color:red">*</span>
                                    </label>

                                    <input id="input-iterable2-{{ field.name }}" style="width:auto;"
                                           type="text" class="form-control default-value-color"
                                           placeholder="{{field.defaultValue ? '[default=' + field.defaultValue + '] ' : ''}}{{field.comment}}"
                                           ng-model="field.value" tooltip="{{field.comment}}"
                                           tooltip-trigger="focus"
                                           ng-required="field.required"
                                           tooltip-placement="top" />
                                </div>

                            </div>
                        </li>
                    </script>
                </div>

            </div>
        </form>
    </accordion-group>
</accordion>