<div>&nbsp;</div>
<div layout="row">
    <div flex="100">
        <div class="bg-light">
            <div layout="row" style="height:30px">
                <div>
                    <h3>Plateformes de <strong>{{application.name}}</strong></h3>
                </div>
                <div flex>
                    <md-input-container md-no-float class="md-block filter-platform" style="width:50%">
                        <label></label>
                        <input type="text" ng-trim="true" ng-model="searchInPlatforms"
                               placeholder="Filtrer les plateformes (en fonction du nom de la plateforme, ou de la version)"/>
                    </md-input-container>
                </div>
            </div>
            <list-of-items items="platforms"
                           label="$item.name + ' [' + $item.application_version + ']'"
                           filter="searchInPlatforms"
                           sorton="$item.name"
                           selected-item="platform"
                           createfunction="add_platform($name)"
                           ondelete="delete_platform($item)"
                           onedit="on_edit_platform($item)"
                           selectable="true"
                           editable="false"
                           css="md-warn"
                           tooltip="Afficher la plateforme"
                           size="small">
            </list-of-items>

            <list-of-items items="module.technos"
                           createfunction="add_techno($name)"
                           ondelete="delete_techno($item)"
                           size="small"
                           label="$item.title"
                           selected-item="techno"
                           selectable="true"
                           editable="is_workingcopy"
                           css="md-warn"
                           typeaheadexpression="techno in $parent.$parent.$parent.search_technos(ctrl.searchText)"
                    ></list-of-items>
        </div>
    </div>
</div>

<div layout="column" ng-show="platform" class="bg-light">
    <div layout="row">
        <div flex="66">
            <h3><span>Représentation logique de <strong>{{platform.name}} (version
                <a href="" ng-click="change_platform_version(platform)"
                   class="ng-binding"
                   onaftersave="save_platform_from_box(mainBox)">{{platform.application_version}}</a>
                <md-tooltip>Modifier le label 'version de l'application'</md-tooltip>
                )</strong>

                <!-- Show events for platform -->
                <md-button aria-label="Afficher l'historique" ng-click="show_events(application, platform, 'platform')" class="md-xs">
                    <span class="fa fa-history fa-2x"></span>
                    <md-tooltip>Afficher l'historique</md-tooltip>
                </md-button>

            </span>
            </h3>
        </div>
        <div flex="33" layout-align="center top">
            <h3>
                <md-switch class="md-primary properties-poduction" aria-label="Production" ng-model="platform.production" ng-disabled="!isProductionUser()"ng-change="save_platform_from_box(mainBox)" id="isProduction">
                    Plateforme de production
                    <md-tooltip>Cette action est réservée au exploitants</md-tooltip>
                </md-switch>
            </h3>
        </div>
    </div>

    <div layout="row">
        <div flex="none">
            <md-button ng-click="treeModeShow()" ng-class="{'md-raised':tree}" aria-label="Afficher en mode arbre">
                <md-tooltip>Afficher en mode arbre</md-tooltip>
                <i class="fa fa-tree"></i>
            </md-button>
        </div>
        <div flex>
            <md-button ng-click="boxModeShow()" ng-class="{'md-raised':box}" aria-label="Afficher en mode bloc">
                <md-tooltip>Afficher en mode bloc</md-tooltip>
                <i class="fa fa-clone"></i>
            </md-button>
        </div>
    </div>

    <div id="box" class="slide-animate" ng-if="box" >
        <box-properties></box-properties>
    </div>
    <div id="tree" class="slide-animate" ng-if="tree">
        <tree-properties></tree-properties>
    </div>
</div>


