<form class="form-horizontal narrow" role="form" editable-form>
    <div class="form-group">
        <div class="col-md-12">

            <toggle-deleted-properties key-value-properties="properties" toggle="displayDeletedProperties"></toggle-deleted-properties>
            <toggle-unspecified-properties key-value-properties="properties" toggle = "displayUnspecified"></toggle-unspecified-properties>
        </div>

        <div class="col-md-12">
            <button id="sortModulePropertiesButton" ng-click="properties.switchOrder()"
                    class="btn btn-warn btn-raised">
                <span>Tri par nom de property</span>
                    <span class="glyphicon"
                          data-ng-class="{'glyphicon-sort-by-alphabet-alt': !properties.isReverseOrder(), 'glyphicon-sort-by-alphabet': properties.isReverseOrder()}"
                          style="padding-left:10px"></span>
            </button>
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="filtrer les properties par clé" ng-model="propertiesKeyFilter"/>
        </div>
        <div class="col-md-8">
            <input class="form-control"
                   placeholder="filtrer les properties par valeur (les valeurs modifiées ne seront filtrables que suite &agrave; une sauvegarde)"
                   ng-model="propertiesValueFilter"/>
        </div>
    </div>

    <div vs-repeat style="max-height: 450px; overflow: auto" id="list-of-properties">
        <div class="form-group" style="width: 100%" ng-class="{'property-not-used': !key_value_property.inModel}"
             ng-repeat="key_value_property in properties | filterProperties:{'name':propertiesKeyFilter, 'filtrable_value':propertiesValueFilter} | displayProperties:displayDeletedProperties | hideHesperidesPredefinedProperties | displayUnspecifiedProperties:displayUnspecified | orderBy:'name':properties.isReverseOrder() track by $index"
             ng-model-options="{ updateOn: 'mouseleave' }">
            <label style="text-align: right; overflow: hidden; text-overflow: ellipsis" title="{{ key_value_property.name }}" for="input-{{ key_value_property.name }}" class="col-md-4 control-label">{{ key_value_property.name }}<span ng-show="key_value_property.required" style="color:red"> *</span></label>
            <!-- Edit layout, and this key is not filled by global properties -->
            <div class="col-md-8" ng_if="!key_value_property.inGlobal">
                <input id="input-{{ key_value_property.name }}"
                       type="text" class="form-control default-value-color"
                       ng-class="{'property-using-global': key_value_property.useGlobal}"
                       placeholder="{{key_value_property.defaultValue ? '[default=' + key_value_property.defaultValue + '] ' : ''}}{{key_value_property.comment}}"
                       ng-model="key_value_property.value" tooltip="{{key_value_property.comment}}"
                       tooltip-trigger="focus"
                       ng-required="key_value_property.required"
                       tooltip-placement="top" />
            </div>
            <!-- Edit layout, but this key is filled by global properties -->
            <div class="col-md-8" ng_if="key_value_property.inGlobal">
                <label id="view-{{ key_value_property.name }}" class="control-label">{{key_value_property.value}}
                    <md-tooltip md-direction="right">
                        Valeur automatiquement valorisée <br/>par la variable globale du même nom.<br/>Pour la modifier,
                        changez son nom dans le template <br/>ou éditez la variable globale.
                    </md-tooltip>
                </label>
            </div>
        </div>

    </div>
</form>