<!-- Displaying instance properties -->
<form name="technoForm" ng-submit="technoForm.$valid" editable-form>

    <!-- Filtring contents -->
    <div layout="row">
        <div flex="none" style="margin-right:2%">
            <md-switch class="md-primary md-block ng-pristine ng-untouched ng-valid" ng-click="instance.switchOrder()"
                       ng-model="toggle" ng-init="toggle=false"
                       aria-label="Trier les propriétés"
                       role="checkbox">
                <span class="fa"
                      data-ng-class="{'fa-sort-alpha-desc': instance.isReverseOrder(), 'fa-sort-alpha-asc': !instance.isReverseOrder()}"></span>
                <span class="ng-binding ng-scope">Tri des propriétés</span>
            </md-switch>
        </div>
        <div flex="none" style="margin-right:2%">
            <toggle-deleted-properties key-value-properties="instance.key_values"
                                       toggle="displayDeletedProperties"></toggle-deleted-properties>
        </div>
        <div flex="none">
            <toggle-unspecified-properties key-value-properties="instance.key_values"
                                           toggle="displayUnspecified"></toggle-unspecified-properties>
        </div>
    </div>
    <!--End filtring contents-->

    <!-- List of properties -->
    <md-content layout="column" style="height: 500px;">
        <!-- Warning ! We need md-virtual-repeat to have reactive UI -->
        <md-virtual-repeat-container id="vertical-container" style="height: 1500px;">
            <div md-virtual-repeat="key_value_property in instance.key_values | hideHesperidesPredefinedProperties | displayUnspecifiedProperties:displayUnspecified | displayProperties:displayDeletedProperties | orderBy:'name':instance.isReverseOrder()"
                 class="repeated-item" flex style="height: 20px;">
                <!-- Non Global Properties -->
                <div layout="row"
                     ng_if="!key_value_property.inGlobal"
                     style="margin:1%;">
                    <div layout="column" flex="50">
                        <div class="truncate-ellipsis">
                            <label class="property-label"
                                   ng-class="{'text-stroke':!key_value_property.inModel, 'default-value-color': key_value_property.defaultValue && !key_value_property.value}"
                            >{{key_value_property.name}} <span ng-show="key_value_property.required"
                                                               class="property-required">*</span></label>
                            <md-tooltip md-direction="top">
                                {{key_value_property.name}}
                            </md-tooltip>
                        </div>
                    </div>
                    <div layout="column" flex>
                        <input ng-model="key_value_property.value"
                               ng-trim="true"
                               ng-readonly="!key_value_property.inModel"
                               ng-focus="focusthis = true"
                               ng-blur="focusthis = false"
                               ng-class="{'text-stroke':!key_value_property.inModel, 'default-value-color': key_value_property.defaultValue && !key_value_property.value, 'default-value-color-focus': focusthis}"
                               placeholder="{{key_value_property.defaultValue ? '[default=' + key_value_property.defaultValue + '] ' : ''}} {{key_value_property.comment}}"
                               ng-pattern="key_value_property.pattern"
                               class="property-value">
                    </div>
                </div>

                <!-- Global Properties -->
                <div layout="row"
                     ng_if="key_value_property.inGlobal"
                     style="margin:1%;">
                    <div layout="column" flex="50">
                        <div class="truncate-ellipsis">
                            <label class="property-label"
                                   ng-class="{'text-stroke':!key_value_property.inModel, 'default-value-color': key_value_property.defaultValue && !key_value_property.value} "
                            >{{key_value_property.name}}</label>
                            <md-tooltip md-direction="top">
                                {{key_value_property.name}}
                            </md-tooltip>
                        </div>
                    </div>
                    <div layout="column" flex>
                        <input ng-model="key_value_property.value"
                               ng-trim="true"
                               ng-readonly="true"
                               class="property-value">
                        <md-tooltip md-direction="top">
                            <!-- <br/> do not work in tooltip -->
                            Valeur automatiquement valorisée par la variable globale du même nom. Pour la
                            modifier, changez son nom dans le template ou éditez la variable globale.
                        </md-tooltip>

                    </div>
                </div>
            </div>
        </md-virtual-repeat-container>
    </md-content>
</form>
<!-- End list of properties -->