<!-- List of global properties -->
<div>

    <div layout="row" flex="auto">
        <div flex="40">
            <input id="new_kv_name" class="property-value" type="text" required ng-trim="true" ng-model="new_kv_name" aria-label="Nouvelle propriété globale" placeholder="Nouvelle propriété globale" focus-save-global-properties/>
        </div>
        <div flex="60">
            <input id="new_kv_value" class="property-value" type="text" required ng-trim="true" ng-model="new_kv_value" aria-label="Valorisation" placeholder="Valorisation" focus-save-global-properties/>
        </div>
    </div>

    <div layout="row" flex="auto">
        <md-input-container class="md-block" flex="36">
            <label>Filtrer par clef</label>
            <input type="text" ng-trim="true" ng-model="globalPropertiesKeyFilter" aria-label="Filtrer par clef" />
        </md-input-container>

        <md-input-container class="md-block" flex="60">
            <label>Filtrer par valeur (ne filtre que les valeurs enregistrées)</label>
            <input type="text" ng-trim="true" ng-model="globalPropertiesValueFilter" aria-label="Filtrer par valeur (les valeurs modifiées ne seront filtrables qu'après une sauvegarde)" />
        </md-input-container>
    </div>

    <md-content class="properties-container">
        <!-- Warning ! We need md-virtual-repeat to have reactive UI -->
        <md-virtual-repeat-container id="vertical-container">
            <div md-virtual-repeat="key_value_property in platform.global_properties.key_value_properties | filterProperties:{'name':globalPropertiesKeyFilter, 'filtrable_value':globalPropertiesValueFilter} | orderBy:'name':sortOrder" class="repeated-item" flex style="margin:1%;" layout="row">
                <div layout="row" flex="auto">
                    <div flex="40">
                        <div layout="row" flex="auto">
                            <div flex="5">
                                <span class="fa fa-trash delete-property-icon" ng-really-message="Supprimer la property globale {{key_value_property.name}} ?"
                                      aria-label="Supprimer"
                                      ng-really-click="platform.global_properties.deleteKeyValue(key_value_property)"
                                      ng-mouseenter="hover = true"
                                      ng-mouseleave="hover = false">
                                </span>
                            </div>
                            <div flex="95">
                                <div class="truncate-ellipsis">
                                    <label class="property-label"
                                           ng-class="{'text-stroke': hover}" >{{key_value_property.name}}</label>
                                    <md-tooltip md-direction="top">
                                        {{key_value_property.name}}
                                    </md-tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex="60">
                        <input ng-model="key_value_property.value"
                               ng-trim="true"
                               ng-focus="focusthis = true"
                               ng-blur="focusthis = false"
                               ng-class="{'text-stroke': hover}"
                               class="property-value" >
                    </div>
                </div>
            </div>
        </md-virtual-repeat-container>
    </md-content>
</div>